{% extends '@wtfrontend_base/_cell.html.twig' %}

{% set bem_modifier = node.type.value.0.target_id %}
{% set linkstyle = linkstyle ?: 'card' %}
{% set more_classes = more_classes ?: 'url url--more' %}
{% set cell_classes = 'link link--' ~ linkstyle ~ (bem_modifier starts with 'wt_' ? bem_modifier|replace({'wt_': ' '}) ~ bem_modifier|replace({'wt_': ' '}) ~ '--teaser' : '') %}
{% set contentwidths = 'cell--flex-1-1 cell--flex-sm-1-3' %}
{% set alignself = 'align-stretch' %}

{% block content %}
  {% block imgwrapper %}
    <div class="link__imgwrapper link__imgwrapper--{{ linkstyle }} {{ imgwrapper_classes }}">
      <a class="link__imgcanvas link__imgcanvas--{{ linkstyle }} link__imgcanvas--linked {{ imgcanvas_classes }}" href="{{ url }}">
        {{ content.field_image.0 }}
      </a>
    </div>
  {% endblock %}

  {% block textwrapper %}
    <div class="link__textwrapper link__textwrapper--{{ linkstyle }}">
      {% block textwrapper_head %}
        <h3 class="link__title link__title--{{ linkstyle }}">
          <a href="{{ url }}">{{ node.label }}</a>
        </h3>
      {% endblock %}
  
      {% block textwrapper_body %}
        {{ content.body }}
      {% endblock %}
      
      {% block textwrapper_more %}
        <div class="link__morewrapper link__morewrapper--{{ linkstyle }}{% if alignself == 'align-stretch' %} link__morewrapper--bottom{% endif %}">
          <a href="{{ url }}" class="link__more link__more--{{ linkstyle }} {{ more_classes }}">{{ "Details"|t }} </a>
        </div>
      {% endblock %}
    </div>
  {% endblock %}
{% endblock %}