{% block container %}
<div class="fullcontent fullcontent--{{ node.bundle }}"{{ attributes|without('class') }}>
  {% block content %}
    {{ content|without('field_banner_slide') }}
  {% endblock %}
</div>
{% endblock %}