{% use '@wtfrontend_base/_row.html.twig' with opener as row_opener, closer as row_closer, content as row_content %}
{% use '@wtfrontend_base/_cell.html.twig' with opener as cell_opener, closer as cell_closer, content as cell_content %}

<div class="fullcontent fullcontent--hotel fullcontent--package"{{ attributes|without('class') }}>
{% set attributes = create_attribute() %}

  {% block title %}
    {% set bem_modifier = 'title' %}
    {{ block('row_opener') }}
      {% set contentwidths = 'cell--flex-1-1 cell--flex-sm-3-4 cell--flex-md-2-3 cell--flex-lg-3-5' %}
      {{ block('cell_opener') }}
        <h1 class="h--1">{{ label }}</h1>
      {{ block('cell_closer') }}
    {{ block('row_closer') }}
  {% endblock %}
  
  {% block data %}
    {% set bem_modifier = 'packagedata' %}
    {{ block('row_opener') }}
      {% set cell_classes = 'hoteldata' %}
      {{ block('cell_opener') }}
        {% if node.field_minlos.value %}
          <span class="packagedata__minlos">{{ content.field_minlos }}</span>
        {% endif %}
  
        {% if node.field_mealplan.value %}
          <span class="packagedata__mealplan">{{ content.field_mealplan }}</span>
        {% endif %}
  
        {% if node.field_minprice.value %}
          <span class="packagedata__price">
            {{ content.field_minprice }}
          </span>
        {% endif %}
      {{ block('cell_closer') }}
    {{ block('row_closer') }}
  {% endblock %}

  {% block body %}
    {% set bem_modifier = 'body' %}
    {{ block('row_opener') }}
      {% set contentwidths = 'cell--flex-1-1 cell--flex-sm-3-4 cell--flex-md-2-3 cell--flex-lg-3-5' %}
      {{ block('cell_opener') }}
        {{ content.body }}
      {{ block('cell_closer') }}
    {{ block('row_closer') }}
  {% endblock %}

  {% block cta %}
    {% if content.field_package_rate.0 is empty %}
      {% set bem_modifier = 'backlink' %}
      {{ block('row_opener') }}
      {% set contentwidths = 'cell--flex-1-1' %}
      {{ block('cell_opener') }}
        {% if not wt.project.field_enquirepage is empty %}
          <a class="url url--btn url--btn-secondary url--enquire" href="{{ path('entity.node.canonical', {'node':  wt.project.field_enquirepage.0.target_id}) }}">
            {{ 'Enquiry'|t }}
          </a>
        {% endif %}
        {% if not wt.project.field_bookingpage is empty and not node.remote_id is empty %}
          <a class="url url--btn url--btn-primary url--book" href="{{ path('entity.node.canonical', {'node':  wt.project.field_bookingpage.0.target_id}) }}">
          {{ 'Booking'|t }}
          </a>
        {% endif %}
      {{ block('cell_closer') }}
      {{ block('row_closer') }}
    {% endif %}
  {% endblock %}

  {% block image_desc %}
    {{ block('row_opener') }}

    {% block image %}
      {% set bem_modifier = 'image' %}
      {% set contentwidths = 'cell--flex-1-1 cell--flex-sm-1-2 cell--flex-lg-2-5' %}
      {{ block('cell_opener') }}
      {{ content.field_image }}
      {{ block('cell_closer') }}
    {% endblock %}
    
    {% block description %}
      {% set bem_modifier = 'description' %}
      {% set contentwidths = 'cell--flex-1-1 cell--flex-sm-1-2 cell--flex-lg-2-5' %}
      {{ block('cell_opener') }}
      {{ content.field_description }}
      {{ block('cell_closer') }}
    {% endblock %}

    {{ block('row_closer') }}
  {% endblock %}
  
  
  {% block rates %}
    {{ content.field_package_rate }}
  {% endblock %}
  
  {% block pagebuilder %}
    {{ content.field_pagebuilder }}
  {% endblock %}

  {% block backlink %}
    {% if not wt.project.field_packagelist is empty %}
        {% set bem_modifier = 'backlink' %}
        {{ block('row_opener') }}
        {% set contentwidths = 'cell--flex-1-1' %}
        {{ block('cell_opener') }}
        <a href="{{ path('entity.node.canonical', {'node': wt.project.field_packagelist.0.target_id}) }}" class="url url--btn url--btn-default url--backlink">{{ 'All packages'|t }}</a>
        {{ block('cell_closer') }}
        {{ block('row_closer') }}
    {% endif %}
  {% endblock %}
</div>