{% extends '@wtfrontend_base/node/_node--teaser--card.html.twig' %}

{% set bem_modifier = 'roompackage' %}

{% block content %}
  {% set enquire_link_classes = enquire_link_classes ?: more_classes|replace({'url--btn-default': 'url--btn-secondary'}) %}
  {% set book_link_classes = book_link_classes ?: more_classes|replace({'url--btn-default': 'url--btn-primary'}) %}

  {% block imgwrapper %}
    <div class="link__imgwrapper link__imgwrapper--{{ linkstyle }} {{ imgwrapper_classes }}">
      <a class="link__imgcanvas link__imgcanvas--{{ linkstyle }} link__imgcanvas--linked {{ imgcanvas_classes }}" href="{{ url }}">
        {{ content.field_image.0 }}
      </a>
      {{ content.field_minprice }}
    </div>
  {% endblock %}

  {% block textwrapper %}
    <div class="link__textwrapper link__textwrapper--{{ linkstyle }}">
      {{ block('textwrapper_head') }}
  
      {% block textwrapper_hotel %}
        <div class="link__hoteldata">
          {% block minlos %}
            {% if node.field_minlos.value %}
              <span class="link__minlos">
                {{ content.field_minlos }}
              </span>
            {% endif %}
          {% endblock %}
          {% block mealplan %}
            {% if node.field_mealplan.value %}
              <span class="link__mealplan">{{ content.field_mealplan }}</span>
            {% endif %}
          {% endblock %}
        </div>
      {% endblock %}
        
      {{ block('textwrapper_body') }}
      
      {% block textwrapper_more %}
        <div class="link__morewrapper link__morewrapper--{{ linkstyle }}{% if alignself == 'align-stretch' %} link__morewrapper--bottom{% endif %}">
          <a href="{{ url }}" class="link__more link__more--{{ linkstyle }} {{ more_classes }}">{{ "Details"|t }} </a>

          {% set path_options = {'wt_ctalinks_nid': node.id} %}
          {% if node.remote_datasource.0.value == 'KOGNITIV' %}
            {% set path_options = path_options|merge({'wt_ctalinks_fragment_postfix': '/' ~ contextual_node.remote_id.0.value}) %}
          {% endif %}
          {% if contextual_node.remote_id.0.value %}
            {% set path_options = path_options|merge({'query': {'wt_room': contextual_node.nid.0.value}}) %}
          {% endif %}

          {% if not wt.project.field_enquirepage is empty %}
            {% set enquire_href = path('entity.node.canonical', {'node':  wt.project.field_enquirepage.0.target_id}, path_options) %}
            <a class="link__more link__more--enquire link__more--{{ linkstyle }} url--enquire {{ enquire_link_classes }}" href="{{ enquire_href }}">
              {{ 'Enquiry'|t }}
            </a>
          {% endif %}
    
          {% if not wt.project.field_bookingpage is empty and not node.remote_id is empty %}
            {% set booking_href = path('entity.node.canonical', {'node':  wt.project.field_bookingpage.0.target_id}, path_options) %}
            <a class="link__more link__more--book link__more--{{ linkstyle }} url--book {{ book_link_classes }}" href="{{ booking_href }}">
              {{ 'Booking'|t }}
            </a>
          {% endif %}
        </div>
      {% endblock %}
    </div>
  {% endblock %}
  
{% endblock %}