{% use '@wtfrontend_base/_row.html.twig' with opener as row_opener, closer as row_closer, content as row_content %}
{% use '@wtfrontend_base/_cell.html.twig' with opener as cell_opener, closer as cell_closer, content as cell_content %}

<div class="fullcontent fullcontent--hotel fullcontent--room"{{ attributes|without('class') }}>
{% set attributes = create_attribute() %}

  {% block title %}
    {% set bem_modifier = 'title' %}
    {{ block('row_opener') }}
      {% set contentwidths = 'cell--flex-1-1 cell--flex-sm-3-4 cell--flex-md-2-3 cell--flex-lg-3-5' %}
      {{ block('cell_opener') }}
        <h1 class="h--1">{{ label }}</h1>
      {{ block('cell_closer') }}
    {{ block('row_closer') }}
  {% endblock %}
  
  {% block data %}
    {% set bem_modifier = 'roomdata' %}
    {{ block('row_opener') }}
      {% set cell_classes = 'hoteldata' %}
      {{ block('cell_opener') }}
        <span class="roomdata__occupancy occupancy occupancy--full">
          {% import "@wtfrontend_base/_occupancy.html.twig" as occupancy %}
          {{ occupancy.icons(node.field_minoccupancy.value, node.field_stdoccupancy.value, node.field_maxoccupancy.value) }} 
        </span>
        <span class="roomdata__size">
          {{ node.field_roomsize.value }} m<sup>2</sup>
        </span>
        <span class="roomdata__price">
          {{ content.field_minprice }}
        </span>
      {{ block('cell_closer') }}
    {{ block('row_closer') }}
  {% endblock %}
  
  {% block body %}
    {% set bem_modifier = 'body' %}
    {{ block('row_opener') }}
      {% set contentwidths = 'cell--flex-1-1 cell--flex-sm-3-4 cell--flex-md-2-3 cell--flex-lg-3-5' %}
      {{ block('cell_opener') }}
        {{ content.body }}
      {{ block('cell_closer') }}
    {{ block('row_closer') }}
  {% endblock %}

  {% block cta %}
    {% if content.field_room_rate.0 is empty %}
      {% set bem_modifier = 'backlink' %}
      {{ block('row_opener') }}
      {% set contentwidths = 'cell--flex-1-1' %}
      {{ block('cell_opener') }}
      {% if not wt.project.field_enquirepage is empty %}
        <a class="url url--btn url--btn-secondary url--enquire" href="{{ path('entity.node.canonical', {'node':  wt.project.field_enquirepage.0.target_id}) }}">
          {{ 'Enquiry'|t }}
        </a>
      {% endif %}
      {% if not wt.project.field_bookingpage is empty and not node.remote_id is empty %}
        <a class="url url--btn url--btn-primary url--book" href="{{ path('entity.node.canonical', {'node':  wt.project.field_bookingpage.0.target_id}) }}">
          {{ 'Booking'|t }}
        </a>
      {% endif %}
      {{ block('cell_closer') }}
      {{ block('row_closer') }}
    {% endif %}
  {% endblock %}

  {% block image %}
    {% set bem_modifier = 'image' %}
    {% set rowwidth = 'fullwidth' %}
    {% set cellpadding = 'padding-none' %}
    {{ block('row_opener') }}
      {{ block('cell_opener') }}
        {{ content.field_image }}
      {{ block('cell_closer') }}
    {{ block('row_closer') }}
  {% endblock %}
  
  {% block roomamenity %}
    {% set bem_modifier = 'roomamenity' %}
    {% if not node.field_roomamenity is empty %}
      {{ block('row_opener') }}
        {% set contentwidths = 'cell--flex-1-1 cell--flex-md-3-4 cell--flex-lg-2-3' %}
        {{ block('cell_opener') }}
          {{ content.field_roomamenity }}
        {{ block('cell_closer') }}
      {{ block('row_closer') }}
    {% endif %}
  {% endblock %}


  {% block feratel %}
    {% set bem_modifier = 'feratel' %}
    {% if not node.field_feratel_availability is empty %}
      {{ block('row_opener') }}
      {% set contentwidths = 'cell--flex-1-1' %}
      {{ block('cell_opener') }}
      {{ content.field_feratel_availability }}
      {{ block('cell_closer') }}
      {{ block('row_closer') }}
    {% endif %}
  {% endblock %}


  {% block room_rate %}
    {% set bem_modifier = 'room_rate' %}
    {% if not node.field_roomamenity is empty %}
      {{ block('row_opener') }}
        {% set contentwidths = 'cell--flex-1-1 cell--flex-md-3-4 cell--flex-lg-2-3' %}
        {{ block('cell_opener') }}
          {{ content.field_room_rate }}
        {{ block('cell_closer') }}
      {{ block('row_closer') }}
    {% endif %}
  {% endblock %}
  
  {{ content.field_pagebuilder }}
  
  {{ drupal_view('wt_frontend_package', 'by_room', node.id) }}


  {% block backlink %}
    {% if not wt.project.field_roomlist is empty %}
      {% set bem_modifier = 'backlink' %}
      {{ block('row_opener') }}
      {% set contentwidths = 'cell--flex-1-1' %}
      {{ block('cell_opener') }}
      <a href="{{ path('entity.node.canonical', {'node': wt.project.field_roomlist.0.target_id}) }}" class="url url--btn url--btn-default url--backlink">{{ 'All rooms'|t }}</a>
      {{ block('cell_closer') }}
      {{ block('row_closer') }}
    {% endif %}
  {% endblock %}
</div>