{% extends '@wtfrontend_base/paragraph/paragraph.html.twig' %}

{% block content %}
  <dl class="accordion__container">
  {% for accordion in paragraph.field_accordion %}
    <dt class="accordion__header" role="button" aria-expanded="{{ loop.index == paragraph.field_accordion_open.value ? 'true' : 'false' }}" aria-controls="accordion__body--{{ paragraph.id.value }}--{{ loop.index }}" data-toggle="collapse" data-target="#accordion__body--{{ paragraph.id.value }}--{{ loop.index }}"><span class="accordion__headtext">{{ accordion.summary }}</span></dt>
    <dd id="accordion__body--{{ paragraph.id.value }}--{{ loop.index }}" class="accordion__body cktext cktext--accordion {{ loop.index == paragraph.field_accordion_open.value ? 'is-expanded' : 'is-collapsed' }}">
      {{ content.field_accordion[loop.index0] }}
    </dd>
  {% endfor %}
  <dl>
{% endblock %}
