{% extends '@wtfrontend_base/paragraph/paragraph.html.twig' %}

{% block content %}
  {% spaceless %}
  {% if paragraph.field_link is empty %}
    <span class="icon__wrapper icon__wrapper--nolink">
  {% else %}
    {% set link_attributes = content.field_link.0['#options'].attributes %}
    {% if link_attributes.target == 'modal' %}
      {{ attach_library('wtfrontend_base/colorbox') }}
    {% endif %}
    {% set link_classes = link_attributes.class ~ ' icon__wrapper icon__wrapper--linked' %}
    {% set link_attributes = link_attributes|merge({'class': link_classes}) %}
    <a href="{{ paragraph.field_link.0.url }}" {% for key, value in link_attributes if key matches '/^[a-zA-Z]+[_a-zA-Z0-9-]*/' %} {{ key }}="{{ value|join(' ') }}" {% endfor %}>
  {% endif %}

  {% block inner %}
    <div class="icon__images">
      {{ content.field_icon }}
    </div>
    {{ content.field_title }}
  {% endblock %}

  {% if paragraph.field_link is empty %}
    </span>
  {% else %}
    </a>
  {% endif %}
  {% endspaceless %}
  
{% endblock %}
