{% set slickdata = slickdata ?: '{"prevArrow": "<button class=\'url--nobtn slick__button slick__button--prev\'><i class=\'slick__arrow slick__arrow--prev\'></button>", "nextArrow": "<button class=\'url--nobtn slick__button slick__button--next\'><i class=\'slick__arrow slick__arrow--next\'></button>", "autoplay": ' ~ (paragraph.field_autoplay.0.value > 0 ? 'true' : 'false') ~ ', "autoplaySpeed": ' ~ (paragraph.field_autoplay.0.value * 1000) ~ '}' %}

{% block container %}
  {% block gallery_grid %}
    {% if paragraph.field_bem_modifier.0.value != 'gallery--slider' %}
      {% set attributes = attributes.addClass(['gallery--grid']) %}
      {% for key, item in content.field_gallery if key|first != '#' %}
        <div{{ attributes }}>
          {{ item }}
          {{ item['#lightbox'] }}
        </div>
      {% endfor %}
    {% endif %}
  {% endblock %}
  {% block gallery_slider %}
    {% if paragraph.field_bem_modifier.0.value != 'gallery--grid' %}
      <div{{ attributes.addClass(['slick', 'slick--gallery', 'gallery--slider']).removeClass(['gallery--grid']) }} data-slick="{{ slickdata }}">
        {% for key, item in content.field_gallery if key|first != '#' %}
          <div class="gallery__slide">
            {{ item }}
            {{ item['#lightbox'] }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endblock %}
{% endblock %}
