{% block container %}
  <div{{ attributes }}>
    {% block row_wrapper %}
    <div{% for key, value in wrapperAttributes if key matches '/^[a-zA-Z]+[_a-zA-Z0-9-]*/' %} {{ key }}="{{ value|join(' ') }}"{% endfor %}>
      {% block row_flex %}
      <div{% for key, value in flexAttributes if key matches '/^[a-zA-Z]+[_a-zA-Z0-9-]*/' %} {{ key }}="{{ value|join(' ') }}"{% endfor %}>
        {% block content %}
          {{ content }}
        {% endblock %}
      </div>
      {% endblock %}
    </div>
    {% endblock %}
  </div>
{% endblock %}