{% extends '@wtfrontend_base/paragraph/paragraph.html.twig' %}

{% block content %}
  {% block map %}
    {{ content }}
  {% endblock %}
  {% block route %}
    {% if paragraph.field_showroute.value %}
      <div class="map__route" id="map__route--{{ paragraph.id.value }}">
        <p class="sysmsg__group sysmsg__group--error map__message map__message--NOTFOUND is-collapsed" id="map__message--NOTFOUND--{{ paragraph.id.value }}">
          <button type="button" class="url url--nobtn map__msgcloser" data-toggle="collapse" data-target="#map__message--NOTFOUND--{{ paragraph.id.value }}" aria-expanded="false">&times;</button>
          <span class="map__msgtext">{{ "Address not recognized"|t }}</span>
        </p>
        <p class="sysmsg__group sysmsg__group--error map__message map__message--UNKNOWN is-collapsed" id="map__message--UNKNOWN--{{ paragraph.id.value }}">
          <button type="button" class="url url--nobtn map__msgcloser" data-toggle="collapse" data-target="#map__message--UNKNOWN--{{ paragraph.id.value }}" aria-expanded="false">&times;</button>
          <span class="map__msgtext">{{ "Unknown error"|t }}</span>
        </p>
        <p class="sysmsg__group sysmsg__group--error map__message map__message--MYPOSITION is-collapsed" id="map__message--MYPOSITION--{{ paragraph.id.value }}">
          <button type="button" class="url url--nobtn map__msgcloser" data-toggle="collapse" data-target="map__message--MYPOSITION--{{ paragraph.id.value }}" aria-expanded="false">&times;</button>
          <span class="map__msgtext">{{ "Unable to detect current location"|t }}</span>
        </p>
        <form class="webform webform--padding-auto map__form" data-paragraph="{{ paragraph.id.value }}">
          <div class="webform__group cell--flex-shrink cell--padding-auto">
            <button type="button" class="url url--btn-default map__btn map__btn--geo" data-paragraph="{{ paragraph.id.value }}" title="{{ "Get directions from my current location"|t }}"><i class="map__icon map__icon--btngeo"></i></button>
          </div>
          <div class="webform__group cell--flex-auto cell--padding-auto">
            <input class="webform__control map__input" id="map__input--{{ paragraph.id.value }}" type="text" placeholder="{{ "Enter a location"|t }}" required>
          </div>
          <div class="webform__group cell--flex-shrink cell--padding-auto">
            <button type="submit" class="url url--btn-default map__btn map__btn--submit" data-paragraph="{{ paragraph.id.value }}"><span class="is-hidden--xs">{{ "Get directions"|t }}</span><i class="map__icon map__icon--btnsubmit is-hidden--sm-up" title="{{ "Get directions"|t }}"></i></button>
          </div>
        </form>
        <div class="map__directions is-collapsed" id="map__directions--{{ paragraph.id.value }}"></div>
      </div>
    {% endif %}
  {% endblock %}
{% endblock %}
