{% extends '@wtfrontend_base/paragraph/paragraph.html.twig' %}

{% block content %}
  {% if is_only_linebreak %}
    <!-- hidden separator -->
  {% else %}
    {% block separator_graphic %}
    <hr class="separator__graphic">
    {% endblock %}
  {% endif %}
{% endblock %}
