{% extends '@wtfrontend_base/paragraph/paragraph.html.twig' %}

{% block content %}
  {% block image %}
    <div {% for key, value in imgWrapperAttributes if key matches '/^[a-zA-Z]+[_a-zA-Z0-9-]*/' %} {{ key }}="{{ value|join(' ') }}"{% endfor %}>
      {% block image_canvas %}
        <{{ imgCanvasAttributes['#tag'] }} {% for key, value in imgCanvasAttributes if key matches '/^[a-zA-Z]+[_a-zA-Z0-9-]*/' %} {{ key }}="{{ value|join(' ') }}"{% endfor %}>
          {{ content.field_image }}
        </{{ imgCanvasAttributes['#tag'] }}>
      {% endblock %}

      {% block minprice %}
        {% if referenced_entity.field_minprice.0.value %}
          {{ referenced_entity.field_minprice.0.value|price_format({'css_classes': 'price--link'}) }}
        {% endif %}
      {% endblock %}
    </div>
  {% endblock %}

  {% block text %}
    <div {% for key, value in textWrapperAttributes if key matches '/^[a-zA-Z]+[_a-zA-Z0-9-]*/' %} {{ key }}="{{ value|join(' ') }}"{% endfor %}>
      {% block title %}
        {% if content.field_title.0 %}
          <h3 {% for key, value in linkTitleAttributes if key matches '/^[a-zA-Z]+[_a-zA-Z0-9-]*/' %} {{ key }}="{{ value|join(' ') }}"{% endfor %}>
            {% if content.field_link.0 %}
              <a href="{{ content.field_link.0['#url'] }}" target="{{ paragraph.field_link_target.value }}" {% if not imgCanvasAttributes['data-colorbox'] is empty %}data-colorbox="{{ imgWrapperAttributes['data-colorbox'] }}"{% endif %}>
            {% endif %}
              {{ content.field_title.0 }}
            {% if content.field_link.0 %}
              </a>
            {% endif %}
          </h3>
        {% endif %}
      {% endblock %}
      
      {% block kognitiv %}
        {% if referenced_entity.type.0.target_id in ['wt_package', 'wt_room'] %}
          <div class="link__hoteldata">
          {% block occupancy %}
            {% if referenced_entity.field_stdoccupancy.0.value %}
              <span class="link__occupancy occupancy occupancy--teaser">
                {% import "@wtfrontend_base/_occupancy.html.twig" as occupancy %}
                {{ occupancy.icons(referenced_entity.field_minoccupancy.0.value, referenced_entity.field_stdoccupancy.0.value, referenced_entity.field_maxoccupancy.0.value) }} 
              </span>
            {% endif %}
          {% endblock %}
          {% block roomsize %}
            {% if referenced_entity.field_roomsize.0.value %}
              <span class="link__roomsize">{{ referenced_entity.field_roomsize.0.value }} m<sup>2</sup></span>
            {% endif %}
          {% endblock %}
          {% block minlos %}
            {% if referenced_entity.field_minlos.0.value %}
              <span class="link__minlos">
              {% set COUNT = referenced_entity.field_minlos.0.value %}
              {% if referenced_entity.field_ratetype.0.value == 'FP' %}
                {% trans %}{{ COUNT }} night{% plural COUNT %}{{ COUNT }} nights{% endtrans %}
              {% else %}
                {% trans %}from {{ COUNT }} night{% plural COUNT %}from {{ COUNT }} nights{% endtrans %}
              {% endif %}
              </span>
            {% endif %}
          {% endblock %}
          {% block mealplan %}
            {% if referenced_entity.field_mealplan.0.value %}
              <span class="link__mealplan">{{ drupal_field('field_mealplan', 'node', referenced_entity.nid.0.value) }}</span>
            {% endif %}
          {% endblock %}
          </div>
        {% endif %}
      {% endblock %}
      
      {% block teaser %}
        {{ content.field_text }}
      {% endblock %}
      
      {% block more %}
        {% set enquire_link_classes = enquire_link_classes ?: paragraph.field_link_more.0.value|replace({'url--btn-default': 'url--btn-secondary'}) %}
        {% set book_link_classes = book_link_classes ?: paragraph.field_link_more.0.value|replace({'url--btn-default': 'url--btn-primary'}) %}

        {% if (paragraph.field_link.0.uri and paragraph.field_link.0.title) or referenced_entity.type.0.target_id in ['wt_room', 'wt_package'] %}
          <div {% for key, value in moreWrapperAttributes if key matches '/^[a-zA-Z]+[_a-zA-Z0-9-]*/' %} {{ key }}="{{ value|join(' ') }}"{% endfor %}>
            <a {% for key, value in moreAttributes if key matches '/^[a-zA-Z]+[_a-zA-Z0-9-]*/' %} {{ key }}="{{ value|join(' ') }}"{% endfor %}>
              {{ paragraph.field_link.0.title ? content.field_link.0['#title'] : "Details"|t }}
            </a>

            {% block more_enquiry %}
              {% if referenced_entity.type.0.target_id in ['wt_room', 'wt_package'] and not wt.project.field_enquirepage is empty %}
                <a {% for key, value in moreAttributes|without('href', 'class') if key matches '/^[a-zA-Z]+[_a-zA-Z0-9-]*/' %} {{ key }}="{{ value|join(' ') }}"{% endfor %} class="link__more link__more--{{ paragraph.field_bem_modifier.0.value }} {{ enquire_link_classes }} url--enquire" href="{{ path('entity.node.canonical', {'node':  wt.project.field_enquirepage.0.target_id}, {'wt_ctalinks_nid': referenced_entity.nid.0.value}) }}">
                  {{ 'Enquiry'|t }}
                </a>
              {% endif %}
            {% endblock %}
            
            {% block more_booking %}
              {% if referenced_entity.type.0.target_id in ['wt_room', 'wt_package'] and not wt.project.field_bookingpage is empty and not referenced_entity.remote_id is empty %}
                <a {% for key, value in moreAttributes|without('href', 'class') if key matches '/^[a-zA-Z]+[_a-zA-Z0-9-]*/' %} {{ key }}="{{ value|join(' ') }}"{% endfor %} class="link__more link__more--{{ paragraph.field_bem_modifer.0.value }} {{ book_link_classes }} url--book" href="{{ path('entity.node.canonical', {'node':  wt.project.field_bookingpage.0.target_id}, {'wt_ctalinks_nid': referenced_entity.nid.0.value}) }}">
                  {{ 'Booking'|t }}
                </a>
              {% endif %}
            {% endblock %}
          </div>
        {% endif %}
      {% endblock %}
    </div>
  {% endblock %}
{% endblock %}
