{% extends '@wtfrontend_base/_row.html.twig' %}
{% use '@wtfrontend_base/_row.html.twig' with opener as cell_opener, content as cell_content, closer as cell_closer %}

{% set classes = [view.element['#name'], view.element['#name'] ~ '-' ~ view.element['#display_id']] %}
{% set bem_modifier = 'view' %}
{% set row_classes = 'row--' ~ classes|join(' row--') %} 
{% set rowwrapper_classes = 'row__wrapper--' ~ classes|join(' row__wrapper--') %} 
{% set rowflex_classes = 'row__flex--' ~ classes|join(' row__flex--') %} 

{% block content %}
  {% if title %}
    {{ block(cell_opener) }}
    {% block cell_content %}
      {% set title_classes = 'view__header--' ~ classes|join(' view__header--') %} 
      <div class="view__header {{ title_classes }}">{{ title }}</div>
    {% endblock %}
    {{ block('cell_closer') }}
  {% endif %}

  {% for row in rows %}
    {{ row.content }}
  {% endfor %}
{% endblock %}