{% use '@wtfrontend_base/_cell.html.twig' with opener as cell_opener, content as cell_content, closer as cell_closer %}

{% set classes = [view.element['#name'], view.element['#name'] ~ '-' ~ view.element['#display_id']] %}
{% set rowflex_classes = 'row__flex--' ~ classes|join(' row__flex--') %} 

{% block content %}
<div class="row__flex row__flex--view row__flex--nested row__flex--{{ colorschema ?: 'color-default' }} row__flex--{{ rowmargin ?: 'margin-md' }} row__flex--{{ cellpadding ?: 'padding-auto' }} row__flex--{{ alignitems ?: 'align-flex-start' }} row__flex--{{ justifycontent ?: 'justify-flex-start' }} {{ rowflex_classes }}">
  {% if title %}
    {{ block(cell_opener) }}
    {% block cell_content %}
      {% set title_classes = 'view__header--' ~ classes|join(' view__header--') %} 
      <div class="view__header {{ title_classes }}">{{ title }}</div>
    {% endblock %}
    {{ block('cell_closer') }}
  {% endif %}

  {% for row in rows %}
    {{ row.content }}
  {% endfor %}
</div>
{% endblock %}
