{% extends '@wtfrontend_base/view/views-view.html.twig' %}

{% block view_header %} 
  {% if header %}
    {% set row_classes = "views__header views__header--" ~ bem_modifiers|join(' views__header--') %}
    {{ block('row_opener') }}

    {% set cell_classes = "cell--viewsheader" %}
    {{ block('cell_opener') }}

    {{ header }}

    {{ block('cell_closer') }}

    {{ block('row_closer') }}
  {% endif %}
{% endblock %} 

{% block view_exposed %} 
  {% if exposed %}
    {% set row_classes = "views__form views__form--" ~ bem_modifiers|join(' views__form--') %}
    {{ block('row_opener') }}

    {% set cell_classes = "cell--viewsform" %}
    {{ block('cell_opener') }}

    {{ exposed }}

    {{ block('cell_closer') }}

    {{ block('row_closer') }}
  {% endif %}
{% endblock %} 

{% block view_rows %} 
  {% if rows %}
    {% set row_classes = "views__rows views__rows--" ~ bem_modifiers|join(' views__rows--') %}
    {{ block('row_opener') }}

    {{ rows }}

    {{ block('row_closer') }}
  {% endif %}
{% endblock %} 

{% block view_empty %} 
  {% if empty %}
    {% set row_classes = "views__empty views__empty--" ~ bem_modifiers|join(' views__empty--') %}
    {{ block('row_opener') }}

    {{ empty }}

    {{ block('row_closer') }}
  {% endif %}
{% endblock %} 

{% block view_pager %} 
  {% if pager %}
    {% set row_classes = "views__pager views__pager--" ~ bem_modifiers|join(' views__pager--') %}
    {{ block('row_opener') }}

    {{ pager }}

    {{ block('row_closer') }}
  {% endif %}
{% endblock %} 

{% block view_footer %} 
  {% if footer %}
    {% set row_classes = "views__footer views__footer--" ~ bem_modifiers|join(' views__footer--') %}
    {{ block('row_opener') }}

    {% set cell_classes = "cell--viewsfooter" %}
    {{ block('cell_opener') }}

    {{ footer }}

    {{ block('cell_closer') }}

    {{ block('row_closer') }}
  {% endif %}
{% endblock %} 
