{% use '@wtfrontend_base/_row.html.twig' with opener as row_opener, content as row_content, closer as row_closer %}
{% use '@wtfrontend_base/_cell.html.twig' with opener as cell_opener, content as cell_content, closer as cell_closer %}

{% set view_name = rows.0['#view'].element['#name'] %}
{% set view_display_plugin = rows.0['#view'].element['#view_display_plugin_id'] %}
{% set view_display_name = rows.0['#view'].element['#display_id'] %}

{% 
  set bem_modifiers = [
    view_name,
    view_display_name ? 'display-' ~ view_display_name,
    view_display_plugin ? 'plugin-' ~ view_display_plugin,
    (view_name and view_display_name) ? view_name ~ '--' ~ view_display_name,
  ]
%}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'views',
    'views--' ~ bem_modifiers|join(' views--')
  ]
%}

{% block container %}
  <div{{ attributes.addClass(classes) }}>
    {% block view_title %} 
      {# this is not used when view_display_plugin == page #}
      {{ title_prefix }}
      {{ title }}
      {{ title_suffix }}
    {% endblock %} 
  
    {% block view_header %} 
      {% if header %}
        <div class="views__header views__header--{{ bem_modifiers|join(' views__header--') }}">
          {{ header }}
        </div>
      {% endif %}
    {% endblock %} 
  
    {% block view_exposed %} 
      {{ exposed }}
    {% endblock %} 
  
    {% block view_attachment_before %} 
      {{ attachment_before }}
    {% endblock %} 
  
    {% block view_rows %} 
      {{ rows }}
    {% endblock %} 
    
    {% block view_empty %} 
      {{ empty }}
    {% endblock %} 
  
    {% block view_pager %} 
      {{ pager }}
    {% endblock %} 
  
    {% block view_attachment_after %} 
      {{ attachment_after }}
    {% endblock %} 
  
    {% block view_more %} 
      {{ more }}
    {% endblock %} 
  
    {% block view_footer %} 
      {% if footer %}
        <div class="views__footer views__footer--{{ bem_modifiers|join(' views__footer--') }}">
          {{ footer }}
        </div>
      {% endif %}
    {% endblock %} 
  
    {% block view_feed_icons %} 
      {{ feed_icons }}
    {% endblock %} 
  </div>
{% endblock %}