{% extends '@wtfrontend_base/_cell.html.twig' %}

{% block opener %}
  {% set bem_modifier = 'pager' %}
  {% if items.previous or items.next %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block content %}
  {% if items.previous or items.next %}
    <nav role="navigation" aria-labelledby="pagination-heading" class="pager">
      <h4 class="visually-hidden">{{ 'Pagination'|t }}</h4>
        <ul class="js-pager__items pager__list">
          {% if items.previous %}
            <li class="pager__item pager__item--prev">
              <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }} class="pager__link pager__link--prev">
                <span class="visually-hidden">{{ 'Previous page'|t }}</span>
                <span aria-hidden="true" class="pager__text pager__text--prev">{{ items.previous.text|default('‹‹'|t) }}</span>
              </a>
            </li>
          {% endif %}
          {% if items.current %}
            <li class="pager__item pager__item--active">
              <span class="pager__text pager__text--active">
                {% trans %}
                  Page {{ items.current }}
                {% endtrans %}
              </span>
            </li>
          {% endif %}
          {% if items.next %}
            <li class="pager__item pager__item--next">
              <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }} class="pager__link pager__link--next">
                <span class="visually-hidden">{{ 'Next page'|t }}</span>
                <span aria-hidden="true" class="pager__text pager__text--next">{{ items.next.text|default('››'|t) }}</span>
              </a>
            </li>
          {% endif %}
        </ul>
    </nav>
  {% endif %}
{% endblock %}

{% block closer %}
  {% if items.previous or items.next %}
    {{ parent() }}
  {% endif %}
{% endblock %}

