<div class="wt login">
  <div class="login__wrapper">
    <main role="main" class="login__content">
      <div class="login__logodiv"> 
        {% block login_logo %}
          <img src="{{ base_path ~ directory }}/images/login/webtourismus.svg" class="login__logoimg" alt="webtourismus.at">
        {% endblock %}
      </div>
      <div class="login__formdiv">
        {{ page.messages }}
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
        <h1 class="login__title">{{ node.title.value ?: page['#title'] }}</h1>
        {{ page.content }}
      </div>{# /.layout-content #}
      <div class="login__linkdiv clearfix">
        <div class="cell--padding-auto">
          {% block login_links %}
            <a href="{{ url('<front>') }}" class="login__link">&larr; {{ 'To the frontpage'|t }} {{ site_name }}</a>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
