{% extends '@wtfrontend_base/login/_page--user.html.twig' %}

{% block login_links %}
  <a href="{{ path('user.pass') }}" class="login__link">{{ 'Forgot your password?'|t }}</a>
  <a href="{{ url('<front>') }}" class="login__link">{{ 'To the frontpage'|t }}</a>
{% endblock %}