{#
/**
 * @file
 * Default theme implementation for a webform base element as html.
 *
 * Available variables:
 * - element: The element.
 * - title: The label for the element.
 * - value: The content for the element.
 * - item: The form item used to display the element.
 * - options Associative array of options for element.
 *   - multiline: Flag to determine if value spans multiple lines.
 *   - email: Flag to determine if element is for an email.
 */
#}
{% if options.email %}
  <table style="border: 0; padding: 0;"><tr><th style="width: 150px; text-align: right; vertical-align: top; padding-right: 10px;">{% if title %}<b>{{ title }}</b></th>{% endif %}<td>{{ value }}</td></tr></table>
{% else %}
  {{ item }}
{% endif %}

