{% extends '@wtfrontend_base/_row_and_cell.html.twig' %}

{% set bem_modifier = bem_modifier ?: plugin_id|clean_class %}
{% set row_classes = row_classes ?: attributes.class %}

{% block content %}
  {% if label %}
    <h{{ blockheader_level ?: '3' }}{{ title_attributes }}>{{ label }}</h{{ blockheader_level ?: '3' }}>
  {% endif %}
  {{ content }}
{% endblock %}