{% extends '@wtfrontend_base/_cell.html.twig' %}

{% set bem_modifier = bem_modifier ?: configuration.provider|clean_class %}
{% set cell_classes = cell_classes ?: attributes.class %}

{% block content %}
  {% if label %}
    <h{{ title_level ?: '3' }}{{ title_attributes }}>{{ label }}</h{{ title_level ?: '3' }}>
  {% endif %}
  {{ content }}
{% endblock %}
