{% extends '@wtfrontend_base/block/block.html.twig' %}

{% block content %}
  {% spaceless %}
  {% if not content.field_link.0 %}
    <span class="block__link block__link--imagelink">
  {% else %}
    {% set link_attributes = content.field_link.0['#options'].attributes %}
    {% set link_classes = link_attributes.class ~ ' block__link block__link--imagelink' %}
    {% set link_attributes = link_attributes|merge({'class': link_classes}) %}
    <a href="{{ block_content.field_link.0.url }}" {% for key, value in link_attributes if key matches '/^[a-zA-Z]+[_a-zA-Z0-9-]*/' %} {{ key }}="{{ value|join(' ') }}" {% endfor %}>
  {% endif %}
  <img src="{{ content.field_file.0 }}" alt="{{ "Logo"|t }}" class="img img--fluid block__img block__img--imagelink" alt=""></a>
  {% if not content.field_link.0 %}
    </span>
  {% else %}
    </a>
  {% endif %}
  {% endspaceless %}
{% endblock %}