{% set heading_id = attributes.id ~ '-menu'|clean_id %}

{% block container %}
<nav {{ attributes|without('role', 'aria-labelledby') }}>
  {# Label. If not displayed, we still provide it for screen readers. #}
  {% if not configuration.label_display %}
    {% set title_attributes = title_attributes.addClass('visually-hidden') %}
  {% endif %}
  <h3{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h3>

  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
{% endblock %}
