{% block container %}
<div{{ attributes.addClass(classes) }}>
  {% block blockheader %}
    {{ title_prefix }}
    {% if label %}
      <h{{ title_level ?: 3}}{{ title_attributes }}>{{ label }}</h{{ title_level ?: 3}}>
    {% endif %}
    {{ title_suffix }}
  {% endblock %}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
{% endblock %}
