{% extends '@wtfrontend_base/block/block.html.twig' %}

{% block content %}
  <a href="{{ path('<front>') }}" title="{{ "To the frontpage"|t }}" class="block__link block__link--logo"><img src="{{ content.field_file.0 }}" alt="{{ wt.site_name }}" class="img img--fluid block__img block__img--logo"></a>
{% endblock %}