{% block container %}
  {% if links -%}
    <ul{{ attributes }}>
      {%- for key, item in links -%}
        <li{{ item.attributes }}>
          {% if use_code_titles %}
            {% set link = item.link %}
            {% set link = link|merge({'#title': key}) %}
          {% else %}
            {% set link = item.link %}
          {% endif %}
          {{ link }}
        </li>
      {%- endfor -%}
    </ul>
  {%- endif %}
{% endblock %}