{% for type, messages in message_list %}
  <div role="{{ (type == 'error' or type == 'warning') ? 'alert' : 'contentinfo' }}" aria-label="{{ status_headings[type] }}"{{ attributes.addClass(['sysmsg__group', 'sysmsg__group--' ~ type]).removeAttribute('role').removeAttribute('aria-label') }}>
    {% if status_headings[type] %}
      <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
    {% endif %}
    {% if messages|length > 1 %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% else %}
      {{ messages|first }}
    {% endif %}
  </div>
{% endfor %}
