body {
    width: calc(100vw - (100vw - 100%));
    height: 100%;
    font-weight: 400;
    padding: 0;
    min-width: 320px;
    background: #fff;
    color: #333;
}

.paragraph h1, .paragraph h2, .paragraph h3, .paragraph h4, .paragraph h5, .paragraph p, .paragraph a, .paragraph div, .paragraph pre, .paragraph em {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-style: normal;
    font-variant: normal;
    font-size: 19px;
    line-height: 28px;
    letter-spacing: 0;
}

.paragraph h1 {
    font-size: 42px;
    line-height: 53px;
    letter-spacing: 1.25px;
}

.paragraph h2 {
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.5px;
}

.paragraph h3, .paragraph h4 {
    font-size: 23px;
    line-height: 29px;
    letter-spacing: 4px;
}

.paragraph h4 {
    padding-left: 20px;
    border-left: solid 5px #ab8b54;
}

.paragraph h5 {
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.paragraph em {
    font-size: 15px;
    line-height: 19px;
}

.paragraph .alt {
    color: #ab8b54;
}

.paragraph .large {
    font-size: 24px;
    line-height: 39px;
}

.paragraph .box {
    background: rgba(171,139,84,0.80);
    color: #fff;
    padding: 32px;
}




.region--header {
    background: #fff;
}

.upper {
    border-bottom: solid 1px red;
    width: 100%;
    align-items: center;
    margin-left: 15px;
    margin-right: 98px;
    margin-top: 30px;
}

.logo {
    margin-bottom: 20px;
}

header .question {
    display: flex;
    border: solid 2px #ab8b54;
    padding: 1px 11px 1px 11px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}


.lang_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
}

.lang_menu li:first-of-type {
    border: 0;
}

.lang_menu li {
    border-left: solid 2px #666;
    margin: 1px;
    display: flex;
}

.lang_menu li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.lang_menu li a:hover {
    text-decoration: underline;
}

a.address {
    text-decoration: none;
    color: #333;
}

.btn-primary {
    background: #ab8b54;
    color: #fff;
    padding: 10px 28px 10px 28px;
    text-decoration: none;

    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-style: normal;
    font-variant: normal;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 2;
}

.main-menu {
    width: 100%;
    align-items: center;
    margin-left: 15px;
    margin-right: 98px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

.main-menu li {
    margin-left: 15px;
    margin-right: 15px;
    text-transform: uppercase;
}

.main-menu li a {
    text-decoration: none;
}

.main-menu li a:hover {
    text-decoration: underline;
}



footer .background {
    background: url(images/footer-bg.jpg) center top;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .address {
    width: 50%;
    text-align: center;
}

footer .partners {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

footer .partners img:first-of-type {
    margin-top: 27px;
}

footer .partners img {
    margin: 15px;
}

footer .question {
    text-decoration: none;
    border: solid 1px #999;
    border-radius: 50px;
    padding: 17px 15px;
    opacity: .7;
    background: #ccc;
}

footer .question b {
    font-size: 18px;
    font-weight: normal;
    border: solid 2px #ab8b54;
    padding: 5px 12px 5px 12px;
    color: #ab8b54;
    border-radius: 4px;
}

footer code {
    position: absolute;
    color: #fff;
    bottom: 0px;
}
