{%
  set title_classes = [
    'field__label',
    'field__label--' ~ field_name|replace({'field_': ''}),
    'field__label--' ~ field_type,
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  <ul{{ attributes.addClass('field__ul').addClass('field--htmllist') }}>
    {% for item in items %}
      <li{{ item.attributes.addClass('field__li') }}>{{ item.content }}</li>
    {% endfor %}
  </ul>
{% else %}
  <div{{ attributes.addClass('field--htmllist') }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    <ul class="field__ul">
    {% for item in items %}
      <li{{ item.attributes.addClass('field__li') }}>{{ item.content }}</li>
    {% endfor %}
    </ul>
  </div>
{% endif %}
