{{ attach_library('wtfrontend_base/slick') }}
{% set slickdata = slickdata ?: '{"prevArrow": "<button class=\'url--nobtn slick__button slick__button--prev\'><i class=\'slick__arrow slick__arrow--prev\'></button>", "nextArrow": "<button class=\'url--nobtn slick__button slick__button--next\'><i class=\'slick__arrow slick__arrow--next\'></button>", "autoplay": true, "autoplaySpeed": 6000, "slidesToShow": 1, "mobileFirst": true }' %}

{% block container %}
  <div{{ attributes.addClass(['slick', 'slick--single']) }} data-slick="{{ slickdata }}">
    {% block items %}
      {% for item in items %}
        <div class="slick__slide">
          {{ item.content }} {# customize responsive image setting used by entity view mode to fit project/template #}
        </div>
      {% endfor %}
    {% endblock %}
  </div>
{% endblock %}
