{% if not label_hidden %}
  {%
    set title_classes = [
      'field__label',
      'field__label--' ~ field_name|replace({'field_': ''}),
      'field__label--' ~ field_type,
      label_display == 'visually_hidden' ? 'visually-hidden',
    ]
  %}
  <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
{% endif %}
{% for item in items %}
  {{ item.content }}
{% endfor %}