{% set COUNT = field.value %}
{% if COUNT >= 1 %}
  {% if entity.field_ratetype.value == 'FP' %}
    {% trans %}{{ COUNT }} night{% plural COUNT %}{{ COUNT }} nights{% endtrans %}
  {% elseif entity.field_ratetype.value == 'DP' %}
    {% trans %}from {{ COUNT }} night{% plural COUNT %}from {{ COUNT }} nights{% endtrans %}
  {% endif %}
{% endif %}