{%
  set title_classes = [
  'field__label',
  'field__label--' ~ field_name|replace({'field_': ''}),
  'field__label--' ~ field_type,
  'feratel__availtitle',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}
{% set link = element.0['#plain_text']|replace({'___LANG___': wt.language.code, '___REMOTEID___': element['#object'].remote_id.0.value}) %}

{% if label_hidden %}
  <iframe src="{{ link }}" class="feratel__availframe" scrolling="no"></iframe>
{% else %}
  <div{{ attributes.addClass(['field--feratel_availability', 'feratel__avail']) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    <iframe src="{{ link }}" class="feratel__availframe" scrolling="no"></iframe>
  </div>
{% endif %}
