{{ attach_library('wtfrontend_base/slick') }}
{% set slickdata = slickdata ?: '{"prevArrow": "<button class=\'url--nobtn slick__button slick__button--prev\'><i class=\'slick__arrow slick__arrow--prev\'></button>", "nextArrow": "<button class=\'url--nobtn slick__button slick__button--next\'><i class=\'slick__arrow slick__arrow--next\'></button>", "autoplay": false, "slidesToShow": 1 }' %}

{% block container %}
  <div{{ attributes.addClass(['slick', 'slick--textslider']) }} data-slick="{{ slickdata }}">
    {% block items %}
      {% for item in items %}
        <div class="slick__slide">
          {{ item.content }}
        </div>
      {% endfor %}
    {% endblock %}
  </div>
{% endblock %}
