{% block lightbox %}
  {% if field.value == '1' %}
    <a{{ attributes }}>{% block lightbox_symbol %}<span{% for key, value in lbiconAttributes if key matches '/^[a-zA-Z]+[_a-zA-Z0-9-]*/' %} {{ key }}="{{ value|join(' ') }}"{% endfor %}><!-- click to zoom --></span>{% endblock %}</a>
  {% endif %}
{% endblock %}
