// overwrite default variables from wtadmin's _settings.scss here

$theme-type: 'center';
$mainnav-type: 'horizontal';
$mainnav__breakpoint--expand-at-device: 'tablet-landscape';

$header-height-xs: 3.5rem;
$header-height-md: 5rem;

$color--text: #7F7C6E;
$color--text-alt: #7b7975;

$color--primary: #ba182a;
$color--primary-accent: mix(black, $color--primary, 20%);

$color--secondary: #7F7C6E;
$color--secondary-inverse: white;

$color--lod-primary: white;
$color--lod-primary-accent: #ccc;


$bgcolor--body: #fbfbfb;
$bgcolor--light: #f0f0f0;

$font-family--decorative: 'Source Sans Pro', sans-serif;

$icon__left--content: '\f177';
$icon__left--class: 'far fa-long-arrow-left';
$icon__right--content: '\f178';
$icon__right--class: 'far fa-long-arrow-right';


$heading__styles--base: (
  color: $color--text-alt,
  font-family: $font-family--decorative,
  font-weight: 600,
  line-heigtht: 1.2,
  margin: 0 0 0.5rem 0,
);

$heading__styles--2: (
  xs: (
    font-size: 1.5rem,
    color: #605d4b,
    font-weight: normal
  ),
  md: (
    font-size: 2rem
  )
);

$heading__styles--3: (
  xs: (
    font-size: 1.3333rem,
    font-weight: normal
  ),
  md: (
    font-size: 1.75rem
  )
);

$heading__styles--4: (
  xs: (
    font-size: calc(1rem - 6%),
    text-transform: uppercase
  )
);

$input__border-radius: 0;
$input__font-weight--btn: normal;
$input__padding-x: 1rem;

$input__btn-styles: (
  font-size: calc(1rem - 2px),
  font-weight: bold,
  text-decoration: none,
  text-transform: uppercase
);

