@import "_fonts";
@import "settings";
@import "wtfrontend_base";
@import "components/fontawesome-pro/fa-regular.scss";
@import "base/hotel.scss";

/**
 *   
 * Globals 
 * 
 */

$font-size--minor: calc(1rem - 2px);

.url {
  &--btn {
    font-size: $font-size--minor;
    font-weight: normal;
  }
  
  &--more {
    font-size: $font-size--minor;
    text-decoration: none;
    
    &::after {
      @include fa-icon;
      @extend .far;
      content: fa-content($fa-var-long-arrow-right);
      padding-left: 0.1em;
      position: relative;
      top: -0.1em;
    }
  }
}

.price {
  font-family: $font-family--decorative;
  font-size: $font-size--minor;
  
  &__whole {
    font-size: 1.5em;
    font-weight: 600;
  }
}

.slick-prev, .slick-next {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  
  &:before {
    font-size: inherit;
  }
}

/**
 *   
 * Header 
 * 
 */


.wt__header {
  @include media--breakpoint-down(sm) {
    padding-top: $header-height-xs;
  }

  @include media--breakpoint-up(md) {
    padding-top: $header-height-md;
  }
}

.region--header {
  background-color: $bgcolor--light;
  position: absolute;
  top: 0;
  z-index: $z-index--fixed;
  
  @include media--breakpoint-up(md) {
    position: fixed;
  }
}

.block--headerlogo {
  width: 180px;
  
  @include media--breakpoint-up(md) {
    width: 230px;
  }
}

.block--hauptnavigation {
  display: flex !important;
  flex: 0 0 auto;
  justify-content: flex-start;
  max-width: 3rem;

  @include mainnav__breakpoint-expand {
    justify-content: center;
    max-width: 31rem;
  }
      
  @include media--breakpoint-up(lg) {
    max-width: 40rem;
  }

  @include mainnav--breakpoint-collapse {
    order: -1;
  }
}

.nav {
  &--main.block {
    position: static;
  }
  
  &__togglebtn--main {
    color: $color--text;
    font-size: 2rem;
  }
  
  &__ul--main {
    &-0 {
      justify-content: space-between;
      
      @include mainnav--breakpoint-collapse {
        background-color: $bgcolor--light;
        left: 0;
        position: absolute;
        top: $header-height-xs;
        width: 100vw;
        z-index: $z-index--fixed;
      }
    }

    &-1 {
      background-color: $bgcolor--body;
      z-index: $z-index--fixed;
      
      @include mainnav--breakpoint-expand {
        background-color: rgba($bgcolor--body, 0.9);
        height: calc(100vh - 6rem);
        margin-top: 1rem;
        padding: 1rem 0;
        
        // to prevent hover-focus-loss due margin-top
        &::before {
          content: '';
          position: absolute;
          height: 1rem;
          left: 0;
          top: -1rem;
          width: 100%;
        }
      }
    }
  }
  

  &__li--main {
    &-0 {
      @include mainnav--breakpoint-expand {
        &.is-active::before {
          background-color: $color--primary;
          content: '';
          display: block;
          height: 6px;
          left: calc(50% - 30px);
          position: absolute;
          top: 0;
          width: 60px;
        }
      }
    }

    &-1 {
      width: 100%;
      
      @include mainnav--breakpoint-expand {
        &:hover, &:focus {
          background-color: $bgcolor--body;
        }
      }
    }
  }
  

  &__a--main {
    text-align: center;
    color: $color--text;
    font-size: $font-size--minor;
    
    &.is-active {
      color: $color--primary;
    }

    &-0 {
      color: $color--text;
      font-family: $font-family--decorative;
      font-weight: 600;
      text-transform: uppercase;
    }

    &-1{
      @include mainnav--breakpoint-expand {
        line-height: 4;
      }
      
      .is-active {
        color: $color--primary;
      }
    }
  }
}

.language-toggler {
  @extend .nav__a--main-0;
  line-height: $header-height-xs;
  position: relative;
  text-decoration: none;
  
  &::after {
    @include fa-icon;
    @extend .far;
    bottom: -1em;
    content: fa-content($fa-var-angle-down);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    @include mainnav--breakpoint-expand {
      bottom: -1.25em;
    }
  }
}

.nav__a--main-0, .language-toggler {
  @include mainnav--breakpoint-expand {
    line-height: $header-height-md;
  }
}

.block--language-block {
    position: static;
}

.nav {
  &__ul--lang {
    @extend .nav__ul--main-1;
    background-color: $bgcolor--light;
    height: auto;
    position: absolute;
    z-index: $z-index--fixed;
    
    @include media--breakpoint-down(xs) {
      left: 0;
      top: $header-height-xs;
      width: 100vw;
    }
    
    @include media--breakpoint-up(sm) {
      left: auto !important;
      margin-top: 1rem;
      top: $header-height-md;
      transform: translateX(-50%);
      width: auto;
      
      &::before {
        content: '';
        position: absolute;
        height: 1rem;
        left: 0;
        top: -1rem;
        width: 100%;
      }
    }
  }
  
  &__li--lang {
    @extend .nav__li--main-1;
  }
  
  &__a--lang {
    @extend .nav__a--main;
    @extend .nav__a--main-1;
    width: 100%;
  }
  
}

.block--headeraction {
  @include media--breakpoint-down(xs) {
    display: none;
  }

  .nav {
    &__ul--headeraction {
      flex-flow: row nowrap;
      
      @include mainnav--breakpoint-collapse {
        height: $header-height-xs;
      }
    
      @include mainnav--breakpoint-expand {
        flex-flow: column nowrap;
        height: $header-height-md;
      }
    }
  }
}

.block--headeraction-xs {
  @include media--breakpoint-up(sm) {
    display: none;
  }

  .nav {
    &__ul--headeraction {
      flex-flow: row nowrap;
    }
  }
}

.nav {
  &__li--headeraction {
    flex: 1 1 0;
  }
  
  &__a--headeraction.url.url--btn {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 1rem;
    width: 100%;
  }
}

/**
 *   
 * Footer 
 * 
 */

.region--footer_upper {
  .row__flex.row__flex--footer-upper {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}


.row--footer_middle {
  @include media--breakpoint-down(xs) {
    text-align: center;
  }

  .block__title {
    margin-bottom: 1rem;
  }
}

.block--newsletter {
  .block__title {
    margin-bottom: 1.25rem;
  }
}

.cell--region--footer_center {
  @include media--breakpoint-down(xs) {
    order: 500;
  }
}

.block--footerlogo {
  margin-bottom: 2rem;
  text-align: center;
  
  .block__link--logo {
    display: inline-block;
    width: 100%;
    max-width: 280px;
  }

  @include media--breakpoint-down(md) {
    padding: 0 1rem;
  }
}

.block--adresse {
  margin-bottom: 2rem;
  
  a {
    text-decoration: none;
  }
}

.block--social {
  text-align: center;
}

.social__link {
  padding: 0 1rem;
}

.nav {
  &__ul--footer {
    flex-flow: column nowrap;
  }
  
  &__li--footer {
    border-bottom: 1px solid $color--lod-primary-accent;
    
    @include media--breakpoint-down(xs) {
      justify-content: center;
    }
  }
  
  &__a--footer {
    flex: 1 1 auto;
    line-height: 3rem;
    
    @include media--breakpoint-down(xs) {
      text-align: center;
    }
  }
}

.region--footer_lower {
  .row__flex.row__flex--footer-lower {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}

/**
 *   
 * Paragraphs
 * 
 */

.link {
  $this: &;
  
  &__textwrapper--image {
    bottom: 10%;
    left: 10%;
    text-align: left;
    top: auto;
    transform: none;
  }
}

.price--link {
  background-color: rgba($bgcolor--dark, 0.8);
  color: $color--lod;
  
  @each $key, $value in $grid__cell-padding--auto {
    @include media--breakpoint-up($key)  {
      left: -$value;
    }
  }

  .link--list-right & {
    @each $key, $value in $grid__cell-padding--auto {
      @if $key != 'xs' {
        @include media--breakpoint-up($key)  {
          left: 0;
        }
      }
    }
  }
}



/**
 *   
 * Shared hotel full 
 * 
 */

.fullcontent--hotel {
  .cell--title {
    text-align: center;
  }
  
  .hoteldata {
    text-align: center;
  }
  
  .cell--body {
    @extend .cktext--large;
    text-align: center;
  }
}



/**
 *   
 * Room full 
 * 
 */

.rate {
  &__detailheader {
    background-color: $bgcolor--dark;
    color: $color--lod;
    padding: 1rem 2rem;
    
    &:hover, &:focus {
      background-color: mix(black, $bgcolor--dark, 10%);
      color: $color--lod;
    }
  }
  
  &__description {
    background-color: $bgcolor--light;
    padding: 1rem 2rem;
  }
  
  &__toggler {
    background-color: $color--primary;
    color: $color--primary-inverse;

    &:hover, &:focus {
      background-color: $color--primary-accent;
      color: $color--primary-inverse;
    }
  }
  
  &__grouprow {
    padding: 1rem 2rem;
  }
}

/**
 *   
 * Package full 
 * 
 */

.row__flex--raterow {
  .cell {
    background-color: white;
  }
}