/**
 *   
 * IE10+ doesn't honor `<meta name="viewport">` in some cases.
 * 
 */

@at-root {
  @-ms-viewport { width: device-width; }
}

html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  
  @each $key, $value in $font-size--root {
    @include media--breakpoint-up($key) {
      font-size: $value;
    }
  }
}

/**
 *   
 * Global layouts, styles und resets
 * 
 */

body {
  background-color: $bgcolor--body;
  box-sizing: border-box;
  color: $color--text;
  font-family: $font-family--base;
  font-weight: $font-weight--base;
  line-height: $line-height;
  position: relative;
  transition: padding-top 100ms ease;
}

// prevent collapsing margin-top on body, would offset colorbox
.wt__frontend {
  border-top: 0.1px solid transparent;
}

* {
  box-sizing: border-box;
}

.clearfix {
  @include clearfix;
}

.visually-hidden {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.img--fluid {
  display: block;
  width: 100%;
  margin: 0 auto;
}

input, button, select, optgroup, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// use icomoon.io app, set prefix to "svg--" and force same size if symbols originate form different fonts
.svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

@if $theme-type == 'side' {
/**
 *   
 * Sidebar
 * 
 */

  .wt__aside {
    display: none;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    z-index: $z-index--fixed;
  }

  @each $key, $value in $sidebar-width {
    @if $value > 0 {
      @media (min-width: map-get($grid__breakpoint--device, $key)) {
        .wt__aside {
          display: block;
          width: $value;
        }

        .wt__frontend {
          margin-left: $value;
        }
      }
    }
  }
}

.block--cookieconsent {
  @extend .cktext--small;
  background-color: $bgcolor--body;
  border-top: 2px solid $color--primary;
  bottom: 0;
  display: none;
  position: fixed;
  padding: 6px 10px;
  z-index: $z-index--modal;

  @if $theme-type == 'center' {
    left: 0;
    width: 100%;
  }
  @else if $theme-type == 'side' {
    @each $key, $value in $sidebar-width {
      @if $value > 0 {
        @media (min-width: map-get($grid__breakpoint--device, $key)) {
          left: $value;
          width: calc(100% - #{$value});
        }
      }
    }
  }

  .field--body {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
    .url.url--btn-primary {
      @extend .cktext--small;
      line-height: 1;
    }
    
    @include media--breakpoint-up(sm) {
      flex-flow: row nowrap;
      
      p {
        margin-bottom: 0;
        margin-right: 3rem;
        
        &:last-child {
          margin-right: 0;
        }
      }
    }
  } 
}

/**
 *   
 * Main content
 * 
 */

.wt__main {
  // exceptionally use margin-top instead of margin-bottom 
  // (on .wt__header) to prevent problem with fixed header
  margin-top: 3rem;
}


/**
 *   
 * Headings
 * 
 */
// Shared styles for all heading levels
@for $i from 1 through length($heading__styles) {
  .cktext h#{$i}, .cke_editable h#{$i}, .h--#{$i} {
    @each $property, $value in $heading__styles--base {
      #{$property}: $value;    
    }
    
    > a {
      all: inherit;
      color: inherit; /* IE fix */
      cursor: pointer;
      text-decoration: none; /* IE fix */
      transition: $url__transition;
      
      &[disabled] {
        cursor: not-allowed;
      }
    }
  }
}

// Level specific heading styles
@for $i from 1 through length($heading__styles) {
  .cktext h#{$i}, .cke_editable h#{$i}, .h--#{$i} {
    $heading-style: map-get($heading__styles, $i);
    @each $bp-key, $bp-styles in $heading-style {
      @include media--breakpoint-up($bp-key) {
        @each $key, $value in $bp-styles {
          #{$key}: $value;
        }
      }
    }
  }
}

/**
 *   
 * Running text styles / CKeditor
 * 
 */

body.cke_editable {
  margin: 15px;
}

.cke_combopanel {
  width: 300px !important;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

.cktext--small {
  font-size: $font-size--small;
}

.cktext--large {
  font-size: $font-size--large;
}

.cktext, .cktext--textslider .slick__slide {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

// apply those styles ONLY inside running text
.cktext, .cke_editable {
  p, address, blockquote, ul, dl {
    margin-bottom: $paragraph__spacer;
    margin-top: 0;
  }
  
  ul {
    padding-left: 0;
    list-style-type: none;

    > li {
      padding: 0 0 $paragraph__spacer 2.3333em;
      position: relative;

      &::before {
        content: '\2022';
        position: absolute;
        left: 0.25em;
        top: 0;
      }
    }
  }

  table {
    border-spacing: 0;
  }
  
  th, td {
    padding: 0.5rem 0.5rem;
    margin: 0;
  }
  
  th {
    border-bottom: 3px solid $color--primary;
    font-weight: $font-weight--bold;
    
    .row--color-bgdark &, .row--image-bgdark & {
      border-bottom-color: $color--lod-primary;
    }
  }
  
  td {
    border-bottom: 1px solid $bgcolor--light;
    
    .row--color-bglight &, .row--image-bglight & {
      border-bottom-color: $bgcolor--body;
    }
    
    .row--color-bgdark &, .row--image-bgdark & {
      border-bottom-color: $color--lod;
    }
  }
}

blockquote {
  font-style: italic;
  margin: 0 0 $paragraph__spacer 0;
  padding: 3rem 0 0 0;
  position: relative;

  @include media--breakpoint-up(sm) {
    padding: 4rem 0 0 0;
  }
  
  &::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='" + str-replace($color--text, '#', '%23') + "' d='M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z'/%3E%3C/svg%3E");
    height: 2rem;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 2rem;
    
    @include media--breakpoint-up(sm) {
      height: 3rem;
      width: 3rem;
    }

    .row--color-bgdark &, .row--image-bgdark & {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='" + str-replace($color--lod, '#', '%23') + "' d='M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z'/%3E%3C/svg%3E");
    }
  }
  
  > *:last-child {
    margin-bottom: 0;
  }
}

b, strong {
  font-weight: $font-weight--bold;
}

a {
  color: $color--primary;
  font-weight: $url__font-weight;
  outline: 0;
  transition: $url__transition;
  cursor: pointer;
  
  &:hover, &:focus {
    color: $color--primary-accent;
  }
}

hr {
  border: 0;
  border-top: 1px solid $input__border-color;
  margin-top: $paragraph__spacer;
  margin-bottom: $paragraph__spacer;
}

.row__flex--color-bgdark, .row__flex--image-bgdark {
  color: $color--lod;
  
  a, .link--more {
    color: $color--lod;
    
    &:hover, &:focus {
      color: $color--lod-primary;
    }
  }

  .url--btn-default {
    border-color: $color--lod;
  
    &:hover, &:focus {
      border-color: $color--lod-primary;
    }
  }

  @for $i from 1 through length($heading__styles) {
    h#{$i}, .h--#{$i} {
      color: $color--lod;
      
      > a:hover, > a:focus {
        color: $color--lod-primary;
      }
    }
  }
}

/**
 *   
 * Buttons and special links
 * 
 */

.url {
  color: $color--primary;
  cursor: pointer;
  font-weight: $url__font-weight;
  
  &:hover, &:focus {
    color: $color--primary-accent;
  }
  
  &:disabled, &--disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }
  
  &--nobtn {
    background: transparent;
    border: 0;
    padding: 0;
    line-height: $line-height;
    outline: 0;
  }
  
  &--btn {
    border-radius: $input__border-radius;
    display: inline-block;
    padding: $input__padding-y $input__padding-x;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    @each $property, $value in $input__btn-styles {
      #{$property}: $value;    
    }
    
    // whitespace between multiple consecutive buttons
    &:not(:only-of-type) {
      margin: 0 0.25rem 0.25rem 0;
      
      // no right whitespace at the last button
      &:last-child {
        margin-right: 0;
      }
    }
    
    &-default {
      background-color: transparent;
      border: $input__border-width--bold solid $color--text;
      color: $color--text;
      padding: calc(#{$input__padding-y} - #{$input__border-width--bold} + #{$input__border-width}) calc(#{$input__padding-x} - #{$input__border-width--bold} + #{$input__border-width});
      
      &:hover, &:focus {
        background-color: transparent;
        border-color: $color--primary;
        color: $color--primary;
      }
    }
    
    &-primary {
      background-color: $color--primary;
      border: $input__border-width solid transparent;
      color: $color--primary-inverse;
      
      &:hover, &:focus {
        background-color: $color--primary-accent;
        color: $color--primary-inverse;
      }
    }
    
    &-secondary {
      background-color: $color--secondary;
      border: $input__border-width solid transparent;
      color: $color--secondary-inverse;
      
      &:hover, &:focus {
        background-color: $color--secondary-accent;
        color: $color--secondary-inverse;
      }
    }
  }
  
  &--more {
    color: $color--text;
    font-weight: $url__font-weight--more;
    text-transform: uppercase;
    
    &:hover, &:focus {
      color: $color--primary;
    }
  }

  &--backlink {
    &::before {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block;
      font-family: $icon__font-family;
      font-style: normal;
      font-weight: $icon__font-weight;
      font-variant: normal;
      line-height: 1;
      content: $icon__left--content;
      padding-right: 0.5em;
    }

    &::after {
      content: none;
    }
  }
}

/**
 *   
 * Navigation
 * 
 */

.nav {

  /**
   *   all menus
   */
  &__ul {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    width: 100%;

    &.is-collapsed {
      display: none;
    }
    &.is-expanded {
      display: flex;
    }
  }
  
  &__li {
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
  }
  
  &__a {
    line-height: $line-height--menu;
    text-decoration: none;
  }

  /**
   *   main menu
   */

  &__togglebtn--main {
    @include mainnav--breakpoint-expand {
      display: none;
    }
  }

  &--main {
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    z-index: $z-index--fixed;

    @include mainnav--breakpoint-expand {
      position: relative;
    }
  }

  &__li--main {
    align-items: stretch;
    justify-content: center;
  }
  
  &__ul--main-0 {
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    width: 100%;

    @include mainnav--breakpoint-expand {
      display: flex;
    }
  }

  @if $mainnav-type == 'horizontal' {
    &--main {
      @include mainnav--breakpoint-collapse {
        position: absolute;
      }
    }

    &__ul--main-0 {
      @include mainnav--breakpoint-collapse {
        display: none;
      }
      @include mainnav--breakpoint-expand {
        flex-direction: row;
      }
    }

    &__li--main-0 {
      @include mainnav--breakpoint-expand {
        flex: 0 1 auto;
        position: relative;
      }
    }

    &__ul--main-1 {
      left: 0;
      min-width: 15rem;
      position: relative;
      top: 100%;

      @include mainnav--breakpoint-collapse {
        box-shadow: inset 0 3px 4px rgba(70, 66, 60, .35), inset 0 -3px 4px rgba(70, 66, 60, .35)
      }

      @include mainnav--breakpoint-expand {
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: auto;
      }
    }
  }
  @else if $mainnav-type == 'vertical' {
    &--main {
      flex-direction: column;
    }

    @include mainnav--breakpoint-expand {
      &--main, &__ul--main-0, &__li--main-0 {
        position: static;
      }

      &__ul--main-1 {
        min-height: 100vh;
        overflow: hidden;
        position: fixed;
        top: 0;
        z-index: $z-index--modal;
      }


      &__li--main-1 {
        width: inherit;
      }
    }

    @include mainnav--breakpoint-collapse {
      &--main {
        width: 260px;
      }
    }

    @each $key, $value in $sidebar-width {
      @if $value > 0 {
        @media (min-width: map-get($grid__breakpoint--device, $key)) {
          &__ul--main-1 {
            left: $value;
            width: $value;
          }
        }
      }
    }
  }
}

/**
 *   
 *   drupal system messages (.row)
 * 
 */

.sysmsg {
  max-height: 2000px;
  overflow-y: hidden;
  transition: max-height 2s $transition--easing;

  &--closed {
    max-height: 0;
  }
  
  &__group {
    background-color: mix(white, $color--info, 90%);
    border: 1px solid mix(white, $color--info, 75%);
    border-radius: $input__border-radius;
    margin-bottom: $paragraph__spacer;
    padding: 0.75rem 1.25rem;
    color: $color--info;
    
    &:first-child {
      margin-top: $paragraph__spacer;
    }
  }
  
  &__group--status {
    background-color: mix(white, $color--success, 90%);
    border: 1px solid mix(white, $color--success, 75%);
    color: $color--success;
  }
  
  &__group--warning {
    background-color: mix(white, $color--warning, 90%);
    border: 1px solid mix(white, $color--warning, 75%);
    color: $color--warning;
  }
  
  &__group--error {
    background-color: mix(white, $color--error, 90%);
    border: 1px solid mix(white, $color--error, 75%);
    color: $color--error;
  }
}

/**
 *   
 * Copryright view
 * 
 */

.copyright{
  &__ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  &__li {
    display: inline;
    
    &::after {
      content: ', ';
    }
    
    &:last-child::after {
      content: none;
    }
  }
}


/**
 *   
 * Views pager
 * 
 */

.pager {
  display: flex;
  align-items: center;
  justify-content: center;
  
  &__list {
    align-items: center;
    background-color: $input__bgcolor;
    border-radius: $input__border-radius;
    border: $input__border-width solid $input__border-color;
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  &__item {
    &--active {
      padding: $input__padding-y 30px;
    }

    &--prev {
      border-right: $input__border-width solid $input__border-color;
    }
    
    &--next {
      border-left: $input__border-width solid $input__border-color;
    }
    
    &--prev, &--next {
      &:hover, &:focus .pager__link {
        background-color: $bgcolor--accent;
        color: $color--primary-accent;
      }
    }
  }
  
  &__link {
    color: $color--primary;
    display: block;
    font-weight: $font-weight--bold;
    padding: $input__padding-y 30px;
    text-decoration: none;
  }
}

/**
 *   
 * jQuery UI modal overlay
 * e.g. used by form submission confirmation message
 * 
 */

.ui-widget-overlay {
  opacity: 0.75;
}

