.webform {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
  &--padding-auto {
    @extend .row__flex--padding-auto;
  }

  .form-actions {
    @extend .cell--flex-1-1;
    @extend .cell--padding-auto;
  }

  &__group, .form-actions {
    margin-bottom: $paragraph__spacer;
    position: relative;
  }
  
  &__label, label {
    font-size: $font-size--small;
    font-weight: $font-weight--bold;
    padding-right: 0.5rem;
    line-height: 1;
    
    &.form-required, &.js-form-required {
      &::after {
        content: '\00a0*';
        font-weight: bold;
        color: $color--error;
      }
    }
    
    &.error {
      color: $color--error;
    }
    
    .webform__control + &  {
      padding-left: 0.5rem;
      padding-right: 0;
    }
  }
  
  &__control {
    background-image: none;
    background-color: $input__bgcolor;
    border-radius: $input__border-radius;
    border: $input__border-width solid $input__border-color;
    display: block;
    padding: $input__padding-y $input__padding-x;
    transition: border-color $transition--duration $transition--easing;
    width: 100%;
    -webkit-appearance: none;
  
    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
      background-color: transparent;
      border: 0;
    }
    
    &:focus {
      border-color: $color--primary;
    }
  
    &::placeholder {
      color: $color--text-light;
      opacity: 1;
    }
    
    &.error {
      @extend .sysmsg__group--error;
    }
  
    &:disabled, &[readonly] {
      background-color: #dedede;
      cursor: not-allowed;
      opacity: 1;
    }
    
    &[type=checkbox], &[type=radio] {
      display: inline-block;
      width: auto;
    }
    
    &[type=number] {
      -moz-appearance: textfield;
      
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
  }

  .cell--padding-auto > .cell--padding-auto {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .chosen-choices, .chosen-single {
    @extend .webform__control;
    font-size: 1rem;
    height: auto;
    line-height: $line-height;
  }

  .chosen-choices, .chosen-drop, .country-list {
    li {
      &::before {
        content: none;
      }
    }
  }

  .chosen-container-multi {
    .chosen-choices {
      li.search-field input[type="text"] {
        height: 1.5rem;
        margin: 0;
      }
      
      li.search-choice {
        margin-top: calc((1rem * $line-height + $input__padding-y + 2px - 21px)/2);
        margin-bottom: 0;
      }
    }
  } 
  
  .chosen-container-single .chosen-single div b {
    background-position-y: 0.5rem !important;
  }
  
  .intl-tel-input {
    display: block;
  }
  
  .js-form-type-processed-text:not(:first-child) .webform__header {
    margin-top: 1rem;
  }

}

button, input[type=button], input[type=reset], input[type=submit] {
  @extend .url;
  @extend .url--btn;

  &:disabled {
    cursor: not-allowed;
  }

  .webform-actions & {
    width: auto;
  }
}

input[type=submit] {
  @extend .url--btn-primary;
}

input[type=button] {
  @extend .url--btn-secondary;
}

input[type=reset] {
  @extend .url--btn-default;
}

select.webform__control {
  &:not([size]):not([multiple]), &.is-chosenized {
    height: calc(1rem * #{$line-height} + 2 * #{$input__padding-y} + 2 * #{$input__border-width});
  }

  &:focus::-ms-value {
    color: inherit;
    background-color: $input__bgcolor;
  }

  // undo the display: none from chosen and place it absolutly behind
  // the chosen containers for HTML5 client validation
  // (e.g. outline for missing required fields)
  &.is-chosenized {
    border: 0;
    display: block !important;
    margin: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;

    @each $key, $value in $grid__cell-padding--auto {
      @include media--breakpoint-up($key)  {
        width: calc(100% - 2 * #{$value});
      }
    }
  }
}

// Make file inputs better match text inputs by forcing them to new lines.
.form-control-file, .form-control-range {
  display: block;
}

// Hide captcha
.g-recaptcha[data-size="invisible"] .grecaptcha-badge {
  display: none;
}

.item-list__comma-list {
  li {
    padding-left: 0;
    
    &::before {
      content: '';
    }
  }
}

/**
 *   
 * ####################################################################
 * specific form instances
 * ####################################################################
 * 
 */


/**
 *   
 * Login Form
 * 
 * 
 */

.row__flex--user-login {
  border: $input__border-width--bold solid $color--primary;
  border-radius: 3rem;
}
