/**
 * outermost container
 *    
 */

.row {
  display: block;
  position: relative;
  width: 100%;

  &--color-bglight.row--fullbg, &--color-bglight.row--fullwidth {
    background-color: $bgcolor--accent;
  }
  
  &--color-bgdark.row--fullbg, &--color-bgdark.row--fullwidth {
    background-color: $bgcolor--dark;
  }

  &--fullwidth {
    //overflow-y: visible;
  }
}

// prevent vertical scrollbars caused by negative margins on .row--fullwidth > .row__wrapper > .row__flex--padding-XXX
// to minimize the possible side effect of hiding real oversized content we target "main .row--fullwidth" instead of "main"
header, footer, main .row--fullwidth {
  overflow-x: hidden;
}

/**
 * wrapper container for content width
 *    
 */

.row__wrapper {
  margin: 0 auto;
  width: 100%;

  @each $key, $value in $grid__max-width {
    @include media--breakpoint-up($key)  {
      &--fixed, &--fullbg {
        width: $value;
      }
    }
  }

  // minimum padding to side edge of screen for fixed with content
  @each $key, $value in $grid__container-padding {
    @include media--breakpoint-up($key) {
      &--fixed, &--fullbg {
        padding-left: $value;
        padding-right: $value;
      }
    }
  }
}

/**
 * flex container
 *    
 */

.row__flex {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  position: relative;
  
  
  &--leftfixed-rightfullwidth {
    padding-left: 0;
    margin-right: 0 !important;
    
    @each $key, $value in $grid__max-width {
      @include media--breakpoint-up($key)  {
        padding-left: calc((100% - #{$value})/2);
      }
    }
  }

  &--leftfullwidth-rightfixed {
    padding-right: 0;
    margin-left: 0 !important;

    @each $key, $value in $grid__max-width {
      @include media--breakpoint-up($key)  {
        padding-right: calc((100% - #{$value})/2);
      }
    }
  }

  &--justify-flex-start {
    justify-content: flex-start;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-flex-end {
    justify-content: flex-end;
  }

  &--justify-space-around {
    justify-content: space-around;
  }

  &--justify-space-between {
    justify-content: space-between;
  }

  &--justify-space-evenly {
    justify-content: space-around; // fallback for older browsers
    justify-content: space-evenly;
  }

  &--align-flex-start {
    align-items: flex-start;
  }

  &--align-center {
    align-items: center;
  }

  &--align-flex-end {
    align-items: flex-end;
  }

  &--align-stretch {
    align-items: stretch;
  }

  &--padding-thin {
    margin-left: -$grid__cell-padding--thin;
    margin-right:-$grid__cell-padding--thin;
  }

  .row--fixed &--color-bglight {
    background-color: $bgcolor--accent;
  }
  
  .row--fixed &--color-bgdark {
    background-color: $bgcolor--dark;
  }
  
  @each $key, $value in $grid__cell-padding--auto {
    @include media--breakpoint-up($key)  {
      &--padding-auto {
        margin-left: -$value;
        margin-right: -$value;
      }
    }
  }
}

/**
 * rows with background image
 *    
 */

.row, .row--fixed .row__flex {
  &--image-bglight, &--image-bgdark {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    @if $theme-type == 'side' {
      @each $key, $value in $sidebar-width {
        @if $value > 0 {
          @media (min-width: map-get($grid__breakpoint--device, $key)) {
            background-position: calc(50% + #{$value} / 2) 50%;
          }
        }
      }
    }
  }
  
  &.is-parallax {
    background-attachment: fixed;
    // chrome bug: sometimes fixed BG images doesn't show, therefore following 2 lines
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    overflow: hidden;

    // safari 8 (iPhone 6) fix for "background-attachment: fixed" not working with "background-size: cover;"
    // https://stackoverflow.com/questions/24154666/background-size-cover-not-working-on-ios/30469824
    @include media--breakpoint-down(xs) {
      background-attachment: scroll;
    }
  }
}

/**
 *   colored paragraph spacing
 * 
 */

//paragraphs with colored background need a whitespace above
.row__flex--color-bglight, .row__flex--color-bgdark, 
.row__flex--image-bglight, .row__flex--image-bgdark {
  @each $key, $value in $grid__v-margin {
    &.row__flex--margin-#{$key} {
      padding-top: $value;
    }
  }
  
  &.row__flex--margin-auto {
    @each $key, $value in $grid__cell-padding--auto {
      @include media--breakpoint-up($key)  {
        padding-top: 2 * $value;
      }
    }
  }
}

//paragraphs after colored paragraphs also need a whitespace above
.row--color-bglight + .row > .row__wrapper, 
.row--color-bgdark  + .row > .row__wrapper,
.row--image-bglight + .row > .row__wrapper,
.row--image-bgdark  + .row > .row__wrapper {
  @each $key, $value in $grid__v-margin {
    .row__flex--margin-#{$key} {
      padding-top: $value;
    }
  }
  
  &.row__flex--margin-auto {
    @each $key, $value in $grid__cell-padding--auto {
      @include media--breakpoint-up($key)  {
        padding-top: 2 * $value;
      }
    }
  }
}

//but avoid double whitespace on paragraphs with same plain bgcolor
.row--color-bglight + .row > .row__wrapper > .row__flex--color-bglight, 
.row--color-bgdark  + .row > .row__wrapper > .row__flex--color-bgdark {
  padding-top: 0;
}

/**
 *   content container
 * 
 */

.cell {
  position: relative;

  @each $key, $value in $grid__v-margin {
    &--margin-#{$key} {
      margin-bottom: $value;
    }
  }
  
  &--margin-auto {
    @each $key, $value in $grid__cell-padding--auto {
      @include media--breakpoint-up($key)  {
        margin-bottom: 2 * $value;
      }
    }
  }

  &--align-inherit {
    align-self: auto;
  }

  &--align-flex-start {
    align-self: flex-start;
  }

  &--align-center {
    align-self: center;
  }

  &--align-flex-end {
    align-self: flex-end;
  }

  &--align-stretch {
    align-self: stretch;
  }

  @each $key, $value in $grid__cell-padding--auto {
    @include media--breakpoint-up($key)  {
      &--padding-auto {
        padding-left: $value;
        padding-right: $value;
      }
    }
  }

  &--padding-thin {
    padding-left: $grid__cell-padding--thin;
    padding-right: $grid__cell-padding--thin;
  }
}

@include media--breakpoint-up(sm) {
  @for $i from 0 to 9 {
    .cell--flexorder-#{$i} {
      order: $i;
    }
  }
}

@each $bp-key, $bp-value in $grid__breakpoint--content {
  $infix: '';
  @if $bp-value > 0 {
    $infix: '-#{$bp-key}';
  }
  @include media--breakpoint-up($bp-key) {
    .cell--flex#{$infix}-auto {
      flex: 1 1 0px;
    }
    .cell--flex#{$infix}-shrink {
      flex: 0 0 auto;
    }
    /**
     *   images max shrink == image original size, but don't grow beyond container
     */
    .image.cell--flex#{$infix}-shrink {
      flex: 0 1 auto;
    }
    @each $grid-key, $grid-width in $grid__column-width {
      .cell--flex#{$infix}-#{$grid-key} {
        flex: 0 0 $grid-width;
        max-width: $grid-width;
      }
    }
  }
}

// this should not be !important to avoid problems with animations
.is-collapsed {
  display: none;
}

// this should not be !important to avoid problems with animations
// and to allow easy overriding to display: flex or similar
.is-expanded {
  display: block;
}

// all following is-hidden... classes usually should override other
// bem classes and therefore are all marked as !important 
.is-hidden {
  display: none !important;
}

@each $bp-key, $bp-value in $grid__breakpoint--content {
  @include media--breakpoint-only($bp-key) {
    .is-hidden--#{$bp-key} {
      display: none !important;
    }
  }
  
  $min: breakpoint-min($bp-key);
  $max: breakpoint-max($bp-key);
  @if ($min and $max) {
    @include media--breakpoint-up($bp-key) {
      .is-hidden--#{$bp-key}-up {
        display: none !important;
      }
    }
    @include media--breakpoint-down($bp-key) {
      .is-hidden--#{$bp-key}-down {
        display: none !important;
      }
    }
  }
}