/**
 *   global
 */
.occupancy {
  display: inline-block;
  
  .fa-lg {
    vertical-align: 0;
  }
  
  span {
    white-space: nowrap;
  }
}

.rate__cal {
  &-calendar {
    margin-bottom: 1rem;
  }
  
  .ui-widget.ui-widget-content {
    border: 0;
    background: transparent;
    margin: 0 auto;
  }
  
  .ui-widget-header {
    background: transparent;
    border: 0;
    color: $color--primary;
  }
  
  .day {
    margin: 1px;
    text-align: center;
    vertical-align: middle;
    
    span, a {
      background: transparent;
      text-align: center;
      
      &.ui-state-default {
        border: 0;
      }
    }
  }

  .day--available {
    background: $bgcolor--calendar-avail;

    &.day--changeover-0 {
      border-radius: 0;
    }
  
    &.day--changeover-1 {
      border-radius: 0 1rem 1rem 0;
    }
    
    &.day--changeover-2 {
      border-radius: 1rem 0 0 1rem;
    }
  
    &.day--changeover-3 {
      border-radius: 1rem;
    }
  }

  .day--unavailable {
    background: $bgcolor--calendar-unavail;
  }
  
  .ui-datepicker-unselectable {
    background: transparent;
  }
  
  .day.day__selected { 
    &--start {
      background: $bgcolor--calendar-select;
      border-radius: 1rem 0 0 1rem;
    }
  
    &--middle {
      border-radius: 0;
      background: $bgcolor--calendar-select;
    }
    &--end {
      background: $bgcolor--calendar-select;
      border-radius: 0 1rem 1rem 0;
    }
    
    .ui-state-default {
      color: white;
    }
  }
  
  &-legend {
    font-size: 0.7rem;
    line-height: 1;
  }
  
  &-explanation {
    display: inline-block;
    white-space: nowrap;
    padding-right: 0.5rem;
    
    &:last-child {
      padding-right: 0;
    }
  }
  
  &-daycolor {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    position: relative;
    top: -0.125rem;
  }
}

/**
 *   teaser / linkpararagraph
 */
.link__hoteldata {
  margin-bottom: $paragraph--spacer;
  
  > span {
    margin-right: 2rem;
    
    &:last-child {
      margin-right: 0;
    }
  }
}

.price--teaser {
  @extend .price--link;
}

/**
 *   
 *   Shared hotel full
 *
 */

.fullcontent--hotel {
  .cell--title {
    .h--1 {
      margin-bottom: 0;
    }
  }
  
  .hoteldata {
    > span {
      display: inline-block;
      margin-right: 2rem;
      
      &:last-child {
        margin-right: 0;
      }
    }
  }
  
  .field__label {
    @extend .h--2;
    @extend .cell--margin-md;
    text-align: center;
  }

  .cell--title, .cell--roomdata, .cell--packagedata, .cell--body, .cell--backlink, .cell--cta {
    text-align: center;
  }
}



/**
 *   
 *   Room full
 *
 */


.field--roomamenity {
  .field__ul {
    background-color: $bgcolor--light;
    display: flex;
    flex-flow: row wrap;
    padding: 3rem;
  }
  
  .field__li {
    width: 100%;

    @include media--breakpoint-up(sm) {
      width: 50%;
      padding-right: 2.333em;
    }
  }
}

.rate {
  &--room .rate__cal {
    padding: 2rem 1rem;
  
    @include media--breakpoint-up(sm) {
      padding: 3rem;
    }
  }

  &__detailheader {
    align-items: center;
    color: $color--text;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-decoration: none;
  }
  
  &__name--room {
    flex: 1 1 auto;
  }
  
  &__minprice--room {
    flex: 0 0 auto;
    white-space: nowrap;
  }

  &__toggler {
    cursor: pointer;
    display: block;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    
    &::before {
      content: $icon__down--content;
      font-family: $icon--font-family;
      font-weight: $icon--font-weight;
      
      .rate__detailbody.is-expanded ~ & {
        content: $icon__up--content;
      }
    }
    
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  &__detailbody {
    display: none;
  }
  &__dayrow {
    display: none;
  }

  &__grouprow {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
    &:nth-of-type(odd) {
      background-color: $bgcolor--light;
    }
  }
}


/**
 *   
 *   Package full
 *
 */

.row--raterow {
  margin-bottom: 3rem;
}

.row__flex--raterow {
  .cell {
    background-color: $bgcolor--light;
  }
}

.cell--rateheader {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.rate {
  &__roomtitle {
    @extend .h--3;
    text-align: left;
  }

  &__roomdata {
    > span {
      margin-right: 2rem;
      
      &:last-child {
        margin-right: 0;
      }
    }
  }
  
  &__imgwrapper {
    position: relative;
  }
  
  .price--packageroom {
    @extend .price--link;
  }
}

.feratel {
  &__availframe {
    display: block;
    width: 100%;
    max-width: 700px;
    height: 300px;
    border: 0;
    padding: 0;
    margin: 0 auto;
  }
}