.login {
  background-image: url(/themes/custom/wtfrontend_base/images/login/background.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  width: 100vw;
  
  * {
    box-sizing: border-box;
  }
  
  a {
    color: white;
    
    &:hover, &:focus {
      color: white;
    }
  }

  &__wrapper {
    min-height: inherit;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: inherit;
    padding-bottom: 10vh;
  }

  &__logodiv {
    padding: 10vh 15px 15vh;
  }

  &__logoimg {
    height: auto;
    max-width: 100%;
    width: 400px;
  }

  &__formdiv {
    margin: 0 auto;
    max-width: 100%;
    width: 500px;
    
    .row__wrapper--sysmsg {
      max-width: 100%;
    }
  }

  &__title {
    background-color: $color--admin-primary;
    color: white;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 0;
    padding: 0.25rem 0;
    text-align: center;
  }

  &__form {
    background-color: rgba(0,0,0,0.5);
    margin-left: 0;
    margin-right: 0;
    padding: 2rem 2rem 0;
    
    label {
      color: white;
    }
    
    .form-required::after {
      content: none;
    }

    input[type=text] {
      width: 100%;
    }
    
    p {
      @extend .cell--padding-auto;
    }

    p, .description {
      color: white;
    }
    
    .form-submit {
      background-color: $color--admin-primary;
      border-color: $color--admin-primary;
      border-radius: 3px;
      color: white;
      margin-top: 0.875rem;
      padding: 8px 2rem;
      
      &:hover, &:focus {
        background-color: $color--admin-accent;
        border-color: $color--admin-accent;
        outline: none;
      }
    }
    
    .form-item--error-message {
      color: white;
    }
    
    .form-item--error-message a {
      color: white;
      text-decoration: underline;
      
      &:hover, &:focus {
        color: #ccc;
      }
    }
  }

  &__linkdiv {
    background-color: rgba(0,0,0,0.5);
    margin: 0 auto;
    max-width: 100%;
    padding: 2rem;
    width: 500px;
  }
  
  &__link {
    display: block;
    text-decoration: none;
    
    @media (min-width: 500px) {
      &:nth-child(odd) {
        clear: both;
        float: left;
      }
      &:nth-child(even) {
        float: right;
      }
    }
    
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}