// clearfix

@mixin clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

// Only display content to screen readers

@mixin sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

//
// Content breakpoint media queries.
//

@function breakpoint-next($name, $breakpoints: $grid__breakpoint--content, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name, $breakpoints: $grid__breakpoint--content) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $grid__breakpoint--content) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}

@mixin media--breakpoint-up($name, $breakpoints: $grid__breakpoint--content) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media--breakpoint-down($name, $breakpoints: $grid__breakpoint--content) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}


@mixin media--breakpoint-between($lower, $upper, $breakpoints: $grid__breakpoint--content) {
  $min: breakpoint-max($lower, $breakpoints);
  $max: breakpoint-max($upper, $breakpoints);

  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin media--breakpoint-only($name, $breakpoints: $grid__breakpoint--content) {
  $min: breakpoint-min($name, $breakpoints);
  $max: breakpoint-max($name, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include media--breakpoint-up($name) {
      @content;
    }
  } @else if $min == null {
    @include media--breakpoint-down($name) {
      @content;
    }
  }
}


//
// Mainnav breakpoint media queries.
//

@mixin mainnav--breakpoint-collapse {
  @if $mainnav__breakpoint--expand-at-device == 'always-expanded' {
    // disable output
  }
  @else if $mainnav__breakpoint--expand-at-device == 'always-collapsed' {
    @content;
  }
  @else {
    @media (max-width: map-get($grid__breakpoint--device, $mainnav__breakpoint--expand-at-device) - 1px) {
      @content;
    }
  }
}

@mixin mainnav--breakpoint-expand {
  @if $mainnav__breakpoint--expand-at-device == 'always-expanded' {
    @content;
  }
  @else if $mainnav__breakpoint--expand-at-device == 'always-collapsed' {
    // disable output
  }
  @else {
    @media (min-width: map-get($grid__breakpoint--device, $mainnav__breakpoint--expand-at-device)) {
      @content;
    }
  }
}

//
// Other helpers
//

@function str-replace($string, $search, $replace: '') {
  $string: inspect($string);
  $index: str-index($string, $search);
  
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  
  @return $string;
}