/**
 *   
 *   accordion
 * 
 */


.accordion {
  &__container {
    margin: 0;
    padding: 0;
  }
  
  &__header {
    background-color: $color--primary;
    color: $color--primary-inverse;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 0 1rem 0;
    padding: 0.5rem 0 0.5rem 2.25rem;
    position: relative;
    
    &::before {
      font-family: $icon--font-family;
      font-size: inherit;
      font-weight: $icon--font-weight;
      left: 0.75rem;
      position: absolute;
      top: 0.5rem;
    }
    
    &[aria-expanded=false]::before {
      content: $icon__expand--content;
    }
    
    &[aria-expanded=true]::before {
      content: $icon__collapse--content;
    }
  }
  
  &__body {
    margin: 0 0 1rem 0;
  }
}

/**
 *   
 *   banner
 * 
 */

.banner {
  @each $key, $value in $grid__v-margin {
    &--margin-#{$key} {
      margin-bottom: $value;
    }
  }

  &:not(.slick-initialized) > :nth-child(n+2) {
    display: none;
  }
  
  &__slide {
    position: relative;
  }
  
  .slide--text-light {
    color: $color--lod;
  }

  .slide--text-dark {
    color: $color--text;
  }

  .slide__text {
    bottom: 10%;
    color: inherit;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
}

//this is for every carousel, not only banners
.slick {
  overflow: hidden;

  .slick-slide {
    outline: 0;
    position: relative;
  }
  
  .slick__button--prev {
    left: 5px;
    z-index: 1;
    
    @include media--breakpoint-up(sm) {
      left: 25px;
    }
  }
  
  .slick__button--next {
    right: 5px;
    
    @include media--breakpoint-up(sm) {
      right: 25px;
    }
  }
}

.slick-loading .slick-list {
  background: none;
}


/**
 * 
 *   galleries
 * 
 */

.gallery {
  &--auto {
    @include media--breakpoint-down(xs) {
      &.gallery--grid {
        display: none;
      }
    }
    @include media--breakpoint-up(sm) {
      &.gallery--slider {
        display: none;
      }
    }
  }
}

/**
 *   
 *   shared by images & gallery
 * 
 */

.image, .gallery {
  &__lightbox {
    bottom: 0;
    color: $color--lod;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
    display: block;
    font-size: 2rem;
    font-weight: $font-weight--base;
    left: 0;
    line-height: 1;
    padding: 0;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
    
    &:hover, &:focus {
      color: $color--lod-primary;
    }
  }
  
  &.cell--padding-thin > .field--lightbox {
    left: $grid__cell-padding--thin;
    right: $grid__cell-padding--thin;
  }

  @each $key, $value in $grid__cell-padding--auto {
    @include media--breakpoint-up($key)  {
      &.cell--padding-auto > .field--lightbox {
        left: $value;
        right: $value;
      }
    }
  }

  &__lbicon {
    bottom: 10px;
    display: inline-block;
    line-height: 1;
    position: absolute;
    right: 10px;

    &::after {
      content: '+';
    }
  }
}

/**
 * 
 *   Icons
 * 
 */

.icon {
  &__wrapper {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-decoration: none;
  }
  
  &__images {
    position: relative;
  }
    
  .img {
    @extend .img--fluid;
    transition: opacity 400ms $transition--easing;
    
    &:first-child {
      opacity: 1;
    }
    
    &:nth-child(2) {
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  
  &:hover .img, &:focus .img, &:focus-within .img {
    &:nth-last-child(2) {
      opacity: 0;
    }
    
    &:nth-child(2) {
      opacity: 1;
    }
  }
  
  &__title {
    margin-top: 1rem;
    text-align: center;
  }
}

/**
 * 
 *   links
 * 
 */

@mixin link--image__img--hover {
  transform: scale(1.03);
}

@mixin link--image__title--hover {
  color: $color--lod-primary;
}

.link {
  $this: &;
  
  &--card {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
  }
  
  &__imgwrapper {
    display: block;
    position: relative;
    
    &--card {
      flex: 0 0 auto;
    }
    
    &--list-left {
      @each $key, $value in $grid__cell-padding--auto {
        @if $key != 'xs' {
          @include media--breakpoint-up($key)  {
            padding-right: $value;
          }
        }
      }
    }

    &--list-right {
      @include media--breakpoint-up(sm) {
        order: 2;
        text-align: right;
      }

      @each $key, $value in $grid__cell-padding--auto {
        @if $key != 'xs' {
          @include media--breakpoint-up($key)  {
            padding-left: $value;
          }
        }
      }
    }
  }
  
  &__imgcanvas {
    display: block;
    overflow: hidden;
    position: relative;
    
    &--linked img {   
      transform: scale(1);
      transition: transform 300ms linear;
    }
  }
  
  &--image, &__imgcanvas--linked {
    &:hover, &:focus {
      img {
        @include link--image__img--hover;
      }
      .link__title a {
        @include link--image__title--hover;
      }
    }
  }

  &__img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  
  &__textwrapper {
    display: flex;
    flex-flow: column nowrap;
    
    &--card {
      flex: 1 1 auto;
      margin-top: 1rem;
    }
    
    &--listitem {
      align-self: stretch;
    }
    
    &--image {
      left: 50%;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      
      > .link__title + .field {
        display: none;
      }
    }
    
    &--list-left {
      @each $key, $value in $grid__cell-padding--auto {
        @if $key != 'xs' {
          @include media--breakpoint-up($key)  {
            padding-left: $value;
          }
        }
      }
    }

    &--list-right {
      @include media--breakpoint-up(sm) {
        text-align: right;
      }

      @each $key, $value in $grid__cell-padding--auto {
        @if $key != 'xs' {
          @include media--breakpoint-up($key)  {
            padding-right: $value;
          }
        }
      }
    }
  }
  
  &__title {
    &--image {
      color: $color--lod;
      margin-bottom: 0;
      text-shadow: $text-shadow;
      
      > a:hover, a:focus {
        @include link--image__title--hover;
      }
    }
  }
  
  &__morewrapper {
    display: flex;
    flex-flow: row wrap;
    padding-top: 0.5rem;
    
    .link--list-right & {
      justify-content: flex-end;
    }
    
    &--bottom {
      margin-top: auto;
    }

    &--image {
      display: none;
    }
  }
  
  &__more {
    flex: 1 1 auto;
  }
}

a.link__more:only-of-type {
  flex: 0 1 auto;
}

.price--link {
  background-color: $color--primary;
  bottom: 1rem;
  color: $color--primary-inverse;
  display: block;
  padding: $input--padding-y $input--padding-x;
  position: absolute;
  left: 1rem;
  text-decoration: none;
  white-space: nowrap;

  .link--list-right & {
    @each $key, $value in $grid__cell-padding--auto {
      @include media--breakpoint-up($key)  {
        @if $key == 'xs' {
          left: 1rem;
        }
        @else {
          left: calc(1rem + #{$value});
        }
      }
    }
  }
}

/**
 * 
 *   Google map
 * 
 */

.map {
  &__route {
    @extend .row__wrapper--fixed;
    margin: 1rem auto 0 auto;
    max-width: 100%;
  }

  &__directions {
    margin-top: 1rem;

    table.adp-placemark {
      img.adp-marker2 {
        margin-right: 1em;
      }
    }

    table.adp-directions {
      width: 100%;
    }

    td.adp-substep:nth-child(3) {
      word-wrap: break-word;
      overflow-wrap: break-word;

      @include media--breakpoint-down(xs) {
        word-break: break-word;
      }
    }
  }
  
  &__icon {
    background-position: center;
    background-size: contain;
    display: block;
    height: 1rem * $line-height;
    width: 1rem * $line-height;
  }
  
  &__icon--btngeo {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='" + str-replace($color--text, '#', '%23') + "' d='M192 64c0-35.346 28.654-64 64-64s64 28.654 64 64c0 35.346-28.654 64-64 64s-64-28.654-64-64zm112 80h-11.36c-22.711 10.443-49.59 10.894-73.28 0H208c-26.51 0-48 21.49-48 48v104c0 13.255 10.745 24 24 24h16v104c0 13.255 10.745 24 24 24h64c13.255 0 24-10.745 24-24V320h16c13.255 0 24-10.745 24-24V192c0-26.51-21.49-48-48-48zm85.642 189.152a72.503 72.503 0 0 1-29.01 27.009C391.133 365.251 480 385.854 480 416c0 46.304-167.656 64-224 64-70.303 0-224-20.859-224-64 0-30.123 88.361-50.665 119.367-55.839a72.516 72.516 0 0 1-29.01-27.009C74.959 343.395 0 367.599 0 416c0 77.111 178.658 96 256 96 77.249 0 256-18.865 256-96 0-48.403-74.967-72.606-122.358-82.848z'/%3E%3C/svg%3E");

    .row--color-bgdark &, .row--image-bgdark & {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='" + str-replace($color--lod, '#', '%23') + "' d='M192 64c0-35.346 28.654-64 64-64s64 28.654 64 64c0 35.346-28.654 64-64 64s-64-28.654-64-64zm112 80h-11.36c-22.711 10.443-49.59 10.894-73.28 0H208c-26.51 0-48 21.49-48 48v104c0 13.255 10.745 24 24 24h16v104c0 13.255 10.745 24 24 24h64c13.255 0 24-10.745 24-24V320h16c13.255 0 24-10.745 24-24V192c0-26.51-21.49-48-48-48zm85.642 189.152a72.503 72.503 0 0 1-29.01 27.009C391.133 365.251 480 385.854 480 416c0 46.304-167.656 64-224 64-70.303 0-224-20.859-224-64 0-30.123 88.361-50.665 119.367-55.839a72.516 72.516 0 0 1-29.01-27.009C74.959 343.395 0 367.599 0 416c0 77.111 178.658 96 256 96 77.249 0 256-18.865 256-96 0-48.403-74.967-72.606-122.358-82.848z'/%3E%3C/svg%3E");
    }
  }
  
  &__icon--btnsubmit {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='" + str-replace($color--text, '#', '%23') + "' d='M272 160v64h184c13.233 0 24 10.767 24 24v80c0 13.233-10.767 24-24 24H272v148c0 6.627-5.373 12-12 12h-8c-6.627 0-12-5.373-12-12V352H83.313a23.84 23.84 0 0 1-16.97-7.029l-45.657-45.657c-6.249-6.248-6.249-16.379 0-22.627l45.657-45.657a23.84 23.84 0 0 1 16.97-7.029H240v-64H56c-13.233 0-24-10.767-24-24V56c0-13.233 10.767-24 24-24h184V12c0-6.627 5.373-12 12-12h8c6.627 0 12 5.373 12 12v20h156.687a23.84 23.84 0 0 1 16.97 7.029l45.657 45.657c6.249 6.248 6.249 16.379 0 22.627l-45.657 45.657a23.84 23.84 0 0 1-16.97 7.029H272zm185.373-64l-32-32H64v64h361.373l32-32zM448 256H86.627l-32 32 32 32H448v-64z'/%3E%3C/svg%3E");

    .row--color-bgdark &, .row--image-bgdark & {
      background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='" + str-replace($color--lod, '#', '%23') + "' d='M272 160v64h184c13.233 0 24 10.767 24 24v80c0 13.233-10.767 24-24 24H272v148c0 6.627-5.373 12-12 12h-8c-6.627 0-12-5.373-12-12V352H83.313a23.84 23.84 0 0 1-16.97-7.029l-45.657-45.657c-6.249-6.248-6.249-16.379 0-22.627l45.657-45.657a23.84 23.84 0 0 1 16.97-7.029H240v-64H56c-13.233 0-24-10.767-24-24V56c0-13.233 10.767-24 24-24h184V12c0-6.627 5.373-12 12-12h8c6.627 0 12 5.373 12 12v20h156.687a23.84 23.84 0 0 1 16.97 7.029l45.657 45.657c6.249 6.248 6.249 16.379 0 22.627l-45.657 45.657a23.84 23.84 0 0 1-16.97 7.029H272zm185.373-64l-32-32H64v64h361.373l32-32zM448 256H86.627l-32 32 32 32H448v-64z'/%3E%3C/svg%3E");
    }
  }
}

/**
 * 
 *   text slider
 * 
 */

.textslider {
  .field--textslider {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  .slick__button--prev {
    left: 0;
  }
  
  .slick__button--next {
    right: 0;
  }
}

/**
 * 
 *   separator
 * 
 */

.separator {
  display: none;
  
  @each $key, $value in $grid__breakpoint--content {
    @include media--breakpoint-only($key) {
      &--#{$key} {
        display: block;
        width: 100%;
      }
    }
  }
}

