{#
  added |raw filter to content to allow HTML in marker
  title hidden, use tokens instead
#}
<div
    class="geolocation"
    data-lat="{{ position.lat }}"
    data-lng="{{ position.lng }}"
    typeof="Place"
    {% if location_id is not empty %} data-location-id="{{ location_id }}" {% endif %}
    {% if disable_marker is empty %}
        data-set-marker="true"
        {% if icon is not empty %} data-icon="{{ icon }}" {% endif %}
        {% if marker_label is not empty %} data-marker-label="{{ marker_label }}" {% endif %}
    {% endif %}
>
    <span property="geo" typeof="GeoCoordinates">
        <meta property="latitude" content="{{ position.lat }}" />
        <meta property="longitude" content="{{ position.lng }}" />
    </span>
    <h2 class="location-title is-hidden" property="name">{{ title }}</h2>
    <div class="location-content">{{ content|raw }}</div>
</div>