{% extends '@wtfrontend_base/block/block.html.twig' %}

{% set attributes = attributes.addClass('cell').addClass('cell--margin-none').addClass('cell--padding-auto').addClass('cell--flex-shrink') %} 

{% block content %}
  <a href="#" data-toggle="collapse" data-target=".nav__ul--lang" class="language-toggler">{{ wt.language.code|upper }}</a>
  {{ content }}
{% endblock %}