{% extends '@wtfrontend_base/block/block--system-menu-block.html.twig' %}

{% set attributes = attributes.addClass('cell').addClass('cell--margin-md').addClass('cell--padding-auto').addClass('cell--flex-1-1').addClass('cell--flex-sm-1-3').addClass('cell--flex-lg-1-4') %}