{% extends '@wtfrontend_base/block/block--bundle--logo.html.twig' %}

{% set attributes = attributes.addClass('cell').addClass('cell--margin-none').addClass('cell--padding-auto').addClass('cell--flex-shrink') %}