{% extends '@wtfrontend_base/block/block--system-menu-block.html.twig' %}

{% set attributes = attributes.addClass('cell cell--margin-none cell--padding-auto') %}

{% block content %}
  <button class="url url--nobtn nav nav__togglebtn nav__togglebtn--main" type="button" data-toggle="collapse" data-target=".nav__ul--main-0" aria-controls="block-hauptnavigation" aria-expanded="false" aria-label="{{ 'Menu'|t }}">
    <i class="far fa-bars nav__toggleicon"></i>
  </button>
  {{ parent() }}
{% endblock %}