<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>

    {{ drupal_region('html_head') }}

    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">

    {% if wt.project.field_favicon180.0.target_id %}
      <link rel="apple-touch-icon" type="{{ wt.project.field_favicon180.0.target_entity.filemime.0.value }}" sizes="180x180" href="{{ file_url(wt.project.field_favicon180.0.target_entity.uri.0.value) }}">
    {% endif %}
    {% if wt.project.field_favicon32.0.target_id %}
      <link rel="icon" type="{{ wt.project.field_favicon32.0.target_entity.filemime.0.value }}" sizes="32x32" href="{{ file_url(wt.project.field_favicon32.0.target_entity.uri.0.value) }}">
    {% endif %}
    {% if wt.project.field_favicon16.0.target_id %}
      <link rel="icon" type="{{ wt.project.field_favicon16.0.target_entity.filemime.0.value }}" sizes="16x16" href="{{ file_url(wt.project.field_favicon16.0.target_entity.uri.0.value) }}">
    {% endif %}
  </head>
  <body{{ attributes }}>
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
