{% block wt__frontend %}
  <div class="wt__frontend wt__frontend--themetype-{{ wt.theme_type }}">
    
    {% block wt__aside %}
      {% if page.aside %}
        <aside class="wt__aside">
          {{ page.aside }}
        </aside>
      {% endif %}
    {% endblock %}
    
    {% block wt__header %}
      <header class="wt__header wt__header--scrollpos-above wt__header--themetype-{{ wt.theme_type }} wt__header--{% if node.field_banner_slide is empty %}no-{% endif %}banner">
        {% block header %}
          {% if page.header %}
            {{ page.header }}
          {% endif %}
        {% endblock %}
  
        {% block banner %}
          {% if not node.field_banner_slide.isempty %}
            {{ node.field_banner_slide|view }}
          {% endif %}
        {% endblock %}
  
        {% block breadcrumb %}
          {% if page.breadcrumb %}
            {{ page.breadcrumb }}
          {% endif %}
        {% endblock %}
      </header>
    {% endblock %}
    
    {% block wt__main %}
      <main class="wt__main wt__main--themetype-{{ wt.theme_type }}">
  
        {% block screenreader %}
          <a id="main-content" tabindex="-1"></a>
        {% endblock %}

        {% block messages %}
          {% if page.messages %}
            {{ page.messages }}
          {% endif %}
        {% endblock %}

        {% block content %}
          {{ page.content }}
        {% endblock %}
      </main>
    {% endblock %}
    
    {% block wt__footer %}
      <footer class="wt__footer wt__footer--themetype-{{ wt.theme_type }}">
        {% block footer %}
          {% if page.footer %}
            {{ page.footer }}
          {% endif %}
        {% endblock %}
      </footer>
    {% endblock %}
  </div>
  {% block wt__invisible %}
    {% if page.invisible %}
      <div style="display: none;" class="wt__invisible">
        {{ page.invisible }}
      </div>
    {% endif %}
  {% endblock %}
  </div>
{% endblock %}