{% use '@wtfrontend_base/_row.html.twig' with opener as row_opener, closer as row_closer, content as row_content %}
{% use '@wtfrontend_base/_cell.html.twig' with opener as cell_opener, closer as cell_closer, content as cell_content %}

{% set start_state = date(query_startdate) %} 
{% set is_day_available = 0 %}

<div class="rate rate--package">

  {% for rate in rates if rate.room_node and rate.min_price %}
    {% set bem_modifier = 'raterow' %}
    {% set row_classes = 'rate__container rate__container--package rate__container--' ~ rate.rate_code %}
    {% set alignitems = 'align-stretch' %}
    {% set rowmargin = 'margin-md' %}
    {{ block('row_opener') }}
    
      {% set bem_modifier = 'rateheader' %}
      {% set cell_classes = 'rate__header' %}
      {% set contentwidths = 'cell--flex-1-1 cell--flex-lg-4-5' %}
      {% set rowmargin = 'margin-none' %}
      {{ block('cell_opener') }}
      <div class="rate__roomtitle"><a href="{{ path('entity.node.canonical', {'node': rate.room_node.nid.0.value}) }}">{{ rate.room_node.title.0.value }}</a></div>
        <div class="rate__roomdata">
          {% if rate.room_node.field_stdoccupancy.0.value %}
            <span class="link__occupancy occupancy occupancy--teaser">
              {% import "@wtfrontend_base/_occupancy.html.twig" as occupancy %}
              {{ occupancy.icons(rate.room_node.field_minoccupancy.0.value, rate.room_node.field_stdoccupancy.0.value, rate.room_node.field_maxoccupancy.0.value) }} 
            </span>
            {% if rate.room_node.field_roomsize.0.value %}
              <span class="link__roomsize">{{ rate.room_node.field_roomsize.0.value }} m<sup>2</sup></span>
            {% endif %}
          {% endif %}
        </div>
      {{ block('cell_closer') }}
      
      <div class="cell cell--flex-1-1 separator separator--xs separator--sm separator--md separator--lg"></div>

      {% set bem_modifier = 'rateroom' %}
      {% set cell_classes = 'rate__room' %}
      {% set contentwidths = 'cell--flex-1-1 cell--flex-sm-1-2 cell--flex-lg-2-5' %}
      {% set rowmargin = 'margin-xs' %}
      {{ block('cell_opener') }}
        <div class="rate__imgwrapper">
          {% if rate.room_image %}
            <div class="rate__imgcanvas">{{ drupal_image(rate.room_image.uri.0.value, 'singleslider', responsive=true) }}</div>
          {% endif %}
          {{ rate.min_price|price_format({'css_classes': 'price--packageroom'}) }}
        </div>
      {{ block('cell_closer') }}
      
      
      {% set bem_modifier = 'rateavailabiliy' %}
      {% set cell_classes = 'rate__availabiliy rate__cal' %}
      {% set contentwidths = 'cell--flex-1-1 cell--flex-sm-1-2 cell--flex-lg-2-5' %}
      {{ block('cell_opener') }}
        {% for price in rate.prices %}
          {% set is_day_available = rate.availabilities[loop.index0] > 0 ? 1 : 0 %}
          {% set current_price = (price > 0) ? price : 0 %}
          {% set current_date = start_state|date_modify('+' ~ loop.index0 ~ ' days') %}
          {% set changeover = rate.changeOver|slice(loop.index0, 1) %}
    
          <span class="rate__dayrow" data-kog-date="{{ current_date|date('Y-m-d') }}" data-kog-room="{{ rate.room_code }}" data-kog-available="{{ is_day_available }}" data-kog-changeover="{{ changeover }}" data-kog-dayprice="{{ price }}"></span>
        {% endfor %}
        
        <div class="rate__cal-calendar rate__cal-calendar--package rate__cal-calendar--package" data-kog-calendar="package" data-kog-calendar-room="{{ rate.room_code }}" data-kog-calendar-startdate="{{ query_startdate }}" data-kog-calendar-length="{{ query_length }}"></div>
        <div class="rate__cal-legend text-align-center cell--margin-xs">
          <span class="rate__cal-explanation"><i class="rate__cal-daycolor day day--available day--changeover-0">&nbsp;</i>&nbsp;{{ "Available"|t }}</span>
          <span class="rate__cal-explanation"><i class="rate__cal-daycolor day day--available day--changeover-2">&nbsp;</i>&nbsp;{{ "Only arrival"|t }}</span>
          <span class="rate__cal-explanation"><i class="rate__cal-daycolor day day--available day--changeover-1">&nbsp;</i>&nbsp;{{ "Only departure"|t }}</span>
          <div class="separator separator--lg"></div>
          <span class="rate__cal-explanation"><i class="rate__cal-daycolor day day--available day--changeover-3">&nbsp;</i>&nbsp;{{ "No arrival or departure"|t }}</span>
          <span class="rate__cal-explanation"><i class="rate__cal-daycolor day day--unavailable">&nbsp;</i>&nbsp;{{ "Unavailable"|t }}</span>
          <span class="rate__cal-explanation"><i class="rate__cal-daycolor day day__selected day__selected--middle">&nbsp;</i>&nbsp;{{ "Selected"|t }}</span>
        </div>

        <div class="rate__cal-action text-align-center cell--margin-xs">
          {% if not wt.project.field_enquirepage is empty %}
            <a class="url url--btn url--btn-secondary url--enquire" href="{{ path('entity.node.canonical', {'node':  wt.project.field_enquirepage.0.target_id}, {'query': {'wt_room': rate.room_node.nid.0.value}, 'wt_ctalinks_nid': node_id, 'wt_ctalinks_fragment_postfix': '/' ~ rate.room_code }) }}">{{ 'Enquiry'|t }}</a>
          {% endif %}
          {% if not wt.project.field_bookingpage is empty %}
            <a class="url url--btn url--btn-primary url--book" href="{{ path('entity.node.canonical', {'node':  wt.project.field_bookingpage.0.target_id}, {'query': {'wt_room': rate.room_node.nid.0.value}, 'wt_ctalinks_nid': node_id, 'wt_ctalinks_fragment_postfix': '/' ~ rate.room_code }) }}">{{ 'Booking'|t }}</a>
          {% endif %}
        </div>

      {{ block('cell_closer') }}
    
    {{ block('row_closer') }}
  {% endfor %}
</div>