{% set start_state = date(query_startdate) %} 
{% set is_day_available = 0 %}
{% set group_by = "PRICE" %}
{% set group_pricefrom = false %}
{% set group_startdate = false %}
{% set group_enddate = false %}

<div class="rate rate--room">

  <div class="field__label field__label--availabilities cell--margin-md text-align-center">{{ "Availabilities"|t }}</div>
  
  <div class="rate__cal cell--margin-md">
    <div class="rate__cal-calendar rate__cal-calendar--room rate__cal-calendar--roomtotal cell--margin-xs" data-kog-calendar="roomtotal" data-kog-calendar-room="{{ room_code }}" data-kog-calendar-startdate="{{ query_startdate }}" data-kog-calendar-length="{{ query_length }}"></div>
    <div class="rate__cal-legend text-align-center cell--margin-md">
      <span class="rate__cal-explanation"><i class="rate__cal-daycolor day day--available day--changeover-0">&nbsp;</i>&nbsp;{{ "Available"|t }}</span>
      <span class="rate__cal-explanation"><i class="rate__cal-daycolor day day--unavailable">&nbsp;</i>&nbsp;{{ "Unavailable"|t }}</span>
      <span class="rate__cal-explanation"><i class="rate__cal-daycolor day day__selected day__selected--middle">&nbsp;</i>&nbsp;{{ "Selected"|t }}</span>
    </div>
    <div class="rate__cal-action text-align-center">
      {% if not wt.project.field_enquirepage is empty %}
        <a class="url url--btn url--btn-secondary url--enquire" href="{{ path('entity.node.canonical', {'node':  wt.project.field_enquirepage.0.target_id}, {'wt_ctalinks_nid': node_id}) }}">{{ 'Enquiry'|t }}</a>
      {% endif %}
      {% if not wt.project.field_bookingpage is empty %}
        <a class="url url--btn url--btn-primary url--book" href="{{ path('entity.node.canonical', {'node':  wt.project.field_bookingpage.0.target_id}, {'wt_ctalinks_nid': node_id}) }}">{{ 'Booking'|t }}</a>
      {% endif %}
    </div>
  </div>

  <div class="field__label field__label--prices cell--margin-md text-align-center">{{ "Prices"|t }}</div>
  
  {% for rate in rates if rate.min_price %}
    {% set group_startdate = false %}
    {% set group_pricefrom = false %}
    <div class="rate__container rate__container--room  rate__container--{{ rate.rate_code|clean_class }} cell--margin-xs">
      <a href="#scroll=.rate__container--{{ rate.rate_code|clean_class }}" class="rate__detailheader" data-toggle="collapse" data-target=".rate__detailbody--{{ rate.rate_code|clean_class }}" aria-expanded="false">
        <div class="rate__name rate__name--room">
          {% if rate.rate_name %}
            {{ rate.rate_name }}
          {% else %}
            {{ "Rate"|t }} {{ rate.rate_code }}
          {% endif %}
        </div>
        {{ rate.min_price|price_format({'css_classes': 'rate__minprice rate__minprice--room'}) }}
      </a>
      
      {% if rate.rate_description %}
        <div class="rate__description cktext">{{ rate.rate_description|raw }}</div>
      {% endif %}
      
      <div class="rate__detailbody rate__detailbody--{{ rate.rate_code|clean_class }} is-collapsed">
        <div class="rate__detail">

          <div class="rate__cal">
            <div class="rate__cal-calendar rate__cal-calendar--room rate__cal-calendar--roomdetail cell--margin-xs" data-kog-calendar="roomdetail" data-kog-calendar-room="{{ room_code }}" data-kog-calendar-rate="{{ rate.rate_code }}" data-kog-calendar-startdate="{{ query_startdate }}" data-kog-calendar-length="{{ query_length }}"></div>
            <div class="rate__cal-legend text-align-center cell--margin-md">
              <span class="rate__cal-explanation"><i class="rate__cal-daycolor day day--available day--changeover-0">&nbsp;</i>&nbsp;{{ "Available"|t }}</span>
              <span class="rate__cal-explanation"><i class="rate__cal-daycolor day day--available day--changeover-2">&nbsp;</i>&nbsp;{{ "Only arrival"|t }}</span>
              <span class="rate__cal-explanation"><i class="rate__cal-daycolor day day--available day--changeover-1">&nbsp;</i>&nbsp;{{ "Only departure"|t }}</span>
              <div class="separator separator--lg"></div>
              <span class="rate__cal-explanation"><i class="rate__cal-daycolor day day--available day--changeover-3">&nbsp;</i>&nbsp;{{ "No arrival or departure"|t }}</span>
              <span class="rate__cal-explanation"><i class="rate__cal-daycolor day day--unavailable">&nbsp;</i>&nbsp;{{ "Unavailable"|t }}</span>
              <span class="rate__cal-explanation"><i class="rate__cal-daycolor day day__selected day__selected--middle">&nbsp;</i>&nbsp;{{ "Selected"|t }}</span>
            </div>
            <div class="rate__cal-action text-align-center">
              {% if not wt.project.field_enquirepage is empty %}
                <a class="url url--btn url--btn-secondary url--enquire" href="{{ path('entity.node.canonical', {'node':  wt.project.field_enquirepage.0.target_id}, {'wt_ctalinks_nid': node_id, 'wt_ctalinks_fragment_postfix': '/' ~ rate.rate_code }) }}">{{ 'Enquiry'|t }}</a>
              {% endif %}
              {% if not wt.project.field_bookingpage is empty %}
                <a class="url url--btn url--btn-primary url--book" href="{{ path('entity.node.canonical', {'node':  wt.project.field_bookingpage.0.target_id}, {'wt_ctalinks_nid': node_id, 'wt_ctalinks_fragment_postfix': '/' ~ rate.rate_code }) }}">{{ 'Booking'|t }}</a>
              {% endif %}
            </div>
          </div>
          
          <div class="rate__prices">
            {% for price in rate.prices %}
              {% set is_day_available = rate.availabilities[loop.index0] > 0 ? 1 : 0 %}
              {% set current_price = (price > 0) ? price : 0 %}
              {% set current_date = start_state|date_modify('+' ~ loop.index0 ~ ' days') %}
              {% set changeover = rate.changeOver|slice(loop.index0, 1) %}
        
              <span class="rate__dayrow" data-kog-date="{{ current_date|date('Y-m-d') }}" data-kog-room="{{ room_code }}" data-kog-rate="{{ rate.rate_code }}" data-kog-available="{{ is_day_available }}" data-kog-changeover="{{ changeover }}" data-kog-dayprice="{{ price }}"></span>
        
              {% if group_startdate is same as(false) %}
                {% set group_startdate = current_date %}
              {% endif %}
          
              {% if group_pricefrom is same as(false) %}
                {% set group_pricefrom = current_price %}
              {% endif %}
          
              {% if group_by == "PRICE" and group_pricefrom != current_price %}
                <div class="rate__grouprow rate__grouprow--price">
                  <div class="rate__dayrange">
                    <span class="rate__rangestart rate__rangestart--dayrange">{{ group_startdate|date('d.m.Y') }}</span><span class="rate__rangedelimiter"> - </span><span class="rate__rangeend rate__rangeend--dayrange">{{ current_date|date_modify('-1 days')|date('d.m.Y') }}</span>
                  </div>
                  <div class="rate__price rate__price--room {{ group_pricefrom > 0 ? '' : 'rate__price--none' }}">
                    {% if group_pricefrom > 0 %}
                      {{ group_pricefrom|price_format({'css_classes': 'rate__groupprice'}) }}
                    {% else %}
                      <span class="price rate__groupprice rate__groupprice--none">{{ 'no price found'|t }}</span>
                    {% endif %}
                  </div>
                </div>
                {% set group_startdate = current_date %}
                {% set group_pricefrom = current_price %}
              {% endif %}
            
              {% if group_by == "SEASON" and current_price > 0 and group_pricefrom > current_price %}
                {% set group_pricefrom = current_price %}
              {% endif %}
            
              {% if loop.last or (group_by == "SEASON" and current_date == group_enddate) %}
                <div class="rate__grouprow rate__grouprow--{{ group_by|lower }}">
                  <div class="rate__{{ group_by == 'SEASON' ? 'season' : 'dayrange' }}"><span class="rate__rangestart rate__rangestart--{{ group_by == 'SEASON' ? 'season' : 'dayrange' }}">{{ group_startdate|date('d.m.Y') }}</span><span class="rate__rangedelimiter"> - </span><span class="rate__rangeend rate__rangeend--{{ group_by == 'SEASON' ? 'season' : 'dayrange' }}">{{ current_date|date_modify('-1 days')|date('d.m.Y') }}</span></div>
                  <div class="rate__price rate__price--room {{ group_pricefrom > 0 ? '' : 'rate__price--none' }}">
                    {% if group_pricefrom > 0 %}
                      {{ group_pricefrom|price_format({'css_classes': 'rate__groupprice'}) }}
                    {% else %}
                      <span class="price rate__groupprice rate__groupprice--none">{{ 'no price found'|t }}</span>
                    {% endif %}
                  </div>
                </div>
                {% set group_startdate = false %}
                {% set group_pricefrom = false %}
              {% endif %}
            {% endfor %}
          </div>

        </div>
      </div>
      <a href="#scroll=.rate__container--{{ rate.rate_code|clean_class }}" class="rate__toggler"></a>
    </div>
  {% endfor %}
</div>