{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}

<details class="form--inline exposed-form-details form-wrapper" id="{{ form['#id'] }}">
  <summary role="button" aria-controls="{{ form['#id'] }}" class="exposed-form-summary">{{ non_default_filters is empty ? 'Filter'|trans : 'Filters modified'|trans ~ ': ' ~ non_default_filters|join(', ')}}</summary>
  <div class="details-wrapper exposed-form-inputs">
    {{ form }}
  </div>
</details>
