{% block opener %}
  <div class="cell {{ bem_modifier ? 'cell--'~bem_modifier }} cell--{{ rowmargin ?: 'margin-md' }} cell--{{ cellpadding ?: 'padding-auto' }} cell--{{ alignself ?: 'align-inherit' }} {{ contentwidths ?: 'cell--flex-1-1' }} {{ cell_classes }}" {{ attributes|without('class') }}>
{% endblock %}

{% block content %}
  {{ content }}
{% endblock %}

{% block closer %}
  </div>
{% endblock %}