{% macro eventdate(from_timestamp, to_timestamp, prefix, suffix) %}
  {{ prefix|raw }}

  {{ from_timestamp|format_date('custom', 'd.m.Y', 'Europe/Vienna') }}

  {%- if from_timestamp|format_date('custom', 'H:i:s') != '00:00:00' -%}
    {{ from_timestamp|format_date('custom', ', H:i', 'Europe/Vienna') }}
  {%- endif -%}

  {% if to_timestamp %} - 
    {% set enddate = '' %}
    {% if to_timestamp|format_date('custom', 'Ymd') != from_timestamp|format_date('custom', 'Ymd') %}
      {% set enddate = to_timestamp|format_date('custom', 'd.m.Y', 'Europe/Vienna') %}
    {% endif %}
    {% if to_timestamp and to_timestamp|format_date('custom', 'H:i:s') != '00:00:00'  %}
      {% set enddate = enddate ? enddate~', ' : '' %}
      {% set enddate = enddate ~ to_timestamp|format_date('custom', 'H:i', 'Europe/Vienna') %}
    {% endif %}
    {{ enddate }}
  {% endif %}
  
  {{ suffix|raw }}
{% endmacro %}
