{% macro icons(min, std, max, min_classes, std_classes, max_classes) %}

  {% for i in  1 .. min %}
    <i class="{{ min_classes|default('far fa-male fa-lg occupancy__min') }} "></i>
  {% endfor %}

  {% for i in min+1 .. std if min < std %}
    <i class="{{ std_classes|default('far fa-male fa-lg occupancy__std') }}"></i>
  {% endfor %}
  
  {% for i in std+1 .. max if std < max %}
    <i class="{{ max_classes|default('far fa-child occupancy__max') }}"></i>
  {% endfor %}
{% endmacro %}
