{% block opener %}
<div class="row {{ bem_modifier ? 'row--'~bem_modifier }} row--{{ rowwidth ?: 'fixed' }} row--{{ colorschema ?: 'color-default' }} {{ row_classes }}" {{ attributes|without('class') }}>
  <div class="row__wrapper {{ bem_modifier ? 'row__wrapper--'~bem_modifier }} row__wrapper--{{ rowwidth ?: 'fixed' }} row__wrapper--{{ rowmargin ?: 'margin-md' }} row__wrapper--{{ cellpadding ?: 'padding-auto' }} {{ rowwrapper_classes }}">
    <div class="row__flex {{ bem_modifier ? 'row__flex--'~bem_modifier }} row__flex--{{ colorschema ?: 'color-default' }} row__flex--{{ rowmargin ?: 'margin-md' }} row__flex--{{ cellpadding ?: 'padding-auto' }} row__flex--{{ alignitems ?: 'align-flex-start' }} row__flex--{{ justifycontent ?: 'justify-center' }} {{ rowflex_classes }}">
{% endblock %}

{% block content %}
  {{ content }}
{% endblock %}

{% block closer %}
    </div>
  </div>
</div>
{% endblock %}