{% extends '@wtfrontend_base/_row.html.twig' %}

{% block opener %}
  {{ parent() }}
  <div class="cell {{ bem_modifier ? 'cell--'~bem_modifier }} cell--{{ rowmargin ?: 'margin-md' }} cell--{{ cellpadding ?: 'padding-auto' }} cell--{{ alignself ?: 'align-inherit' }} {{ contentwidths ?: 'cell--flex-1-1' }} {{ cell_classes }}">
{% endblock %}

{% block closer %}
  </div>
  {{ parent() }}
{% endblock %}