{#
/**
 * changes:
 * - adding classes to UL tag depending on hiearchy depth
 * - adding classes on A tag
 */
#}
{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0, menu_name) }}

{% macro menu_links(items, attributes, menu_level, menu_name) %}
  {% import _self as menus %}
  {% if items %}

    {% set attributes = attributes.addClass('nav__ul--level-'~menu_level).addClass('nav__ul--'~menu_name~'-'~menu_level) %}
    {% if menu_name == 'main' and menu_level > 0 %}
      {% set attributes = attributes.addClass( 'is-collapsed' ) %}
    {% endif %}
    <ul{{ attributes}}>
    {% if menu_name == 'main' and menu_level > 0 %}
      {% set attributes = attributes.removeClass( 'is-collapsed' ) %}
    {% endif %}
    {% set attributes = attributes.removeClass('nav__ul--level-'~menu_level).removeClass('nav__ul--'~menu_name~'-'~menu_level) %}

    {% for item in items %}
      <li{{ item.attributes }}>
        {% set link_classes %}{{ item.url.options.attributes.class|join(' ') }}{% endset %}
        {{ link(item.title, item.url, {'class': [link_classes, 'nav__a', 'nav__a--level'~menu_level, 'nav__a--'~menu_name, 'nav__a--'~menu_name~'-'~menu_level]}) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_name) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
