// Variables
//
// Copy settings from this file into the custom theme's settings.scss to override
// the defaults without modifying key, versioned files.
//
// Variables should follow a BEM-like $block__element--modifier formula for consistent naming.
// A block might be an UI component or a HTML tag, the element should be a specific 
// CSS property of that block. For global styles use the CSS property name as block name.
// Ex: $nav__font-size--level1 or $link__color--active. 

// Theme type must be 'center' or 'side'

$theme-type: center !default;

// Main nav type must be 'horizonal' or 'vertical'
// (when viewed on large screens - on small screens always hidden/collapsable with toggle-able burger icon)
$mainnav-type: horizontal !default;

// Colors
// Default text color
$color--text: #333 !default;
$color--text-alt: #666 !default; // alternative text color, e.g. for intros
$color--text-light: #999 !default; // restrained text color, e.g. for input placeholders
$color--text-accent: $color--text !default; //foreground color over accented/light background

// Foreground/text colors on dark background
$color--lod: white !default;
$color--lod-primary: #ccc !default;
$color--lod-primary-accent: #999 !default;

// CI colors, usually used for action buttons, links or headlines
$color--primary: #004358 !default;
$color--primary-inverse: white !default; //foreground color over primary color background (e.g. buttons)
$color--primary-accent: mix($color--primary-inverse, $color--primary, 20%) !default;

$color--secondary: #FD7400 !default;
$color--secondary-inverse: $color--text !default;
$color--secondary-accent: mix($color--secondary-inverse, $color--secondary, 20%) !default;

//system messages
$color--warning: #856404 !default;
$color--success: #155724 !default;
$color--error: #721c24 !default;
$color--info: #0c5460 !default;

//colors from wtadmin theme
$color--admin-primary: #ba182a !default;
$color--admin-accent: mix(black, $color--admin-primary, 10%) !default;

//background colors
$bgcolor--body: transparent !default;
$bgcolor--default: $bgcolor--body !default;
$bgcolor--light: #e6e6e6 !default; // accented background color, should be light enough for standard text/link colors
$bgcolor--dark: $color--text !default; // dark background color, inverted color schema with light text over dark background
$bgcolor--accent: $bgcolor--light !default; 

$bgcolor--calendar-avail: #b7cc7b !default;
$bgcolor--calendar-unavail: #f69088 !default;
$bgcolor--calendar-select: #4ab4e4 !default;


// Breakpoint list by theme-type and devices
//
// Define the minimum screen sizes at which content layout will change,
// adapting to different screen sizes, for use in media queries.

$grid__breakpoint-by-themetype--device: (
  center: (
    phone: 0,
    tablet-portrait: 768px,
    tablet-landscape: 990px,
    laptop: 1230px,
    desktop: 1231px
  ),
  side: (
    phone: 0,
    tablet-portrait: 768px,
    tablet-landscape: 990px,
    laptop: 1260px,
    desktop: 1510px
  )
) !default;

$grid__breakpoint--device: map-get($grid__breakpoint-by-themetype--device, $theme-type) !default;

// Define the minimum screen sizes at which mainnav default visibility will change to visible/expanded
// must be a key of $grid__breakpoint-by-themetype--device,
// or one of the two special keys'always-collapsed' or 'always-expanded'

$mainnav__breakpoint--expand-at-device: 'tablet-portrait' !default;


// Only for theme type 'side'
//
// Must contain the first/minimum key of $grid__breakpoint--device and may contain additional keys of $grid__breakpoint--device

$sidebar-width: (
  phone: 0,
  tablet-landscape: 240px,
  laptop: 280px
) !default;

// Breakpoint list used by main content area 
//
// Define the minimum screen sizes at which the main content area will change,
// adapting to different screen sizes, for use in media queries.

$grid__breakpoint-by-themetype--content: (
  center: (
    xs: map-get($grid__breakpoint--device, phone),
    sm: map-get($grid__breakpoint--device, tablet-portrait),
    md: map-get($grid__breakpoint--device, tablet-landscape),
    lg: map-get($grid__breakpoint--device, laptop)
  ),
  side: (
    xs: map-get($grid__breakpoint--device, phone),
    sm: map-get($grid__breakpoint--device, tablet-portrait),
    md: map-get($grid__breakpoint--device, laptop),
    lg: map-get($grid__breakpoint--device, desktop)
  )
) !default;

$grid__breakpoint--content: map-get($grid__breakpoint-by-themetype--content, $theme-type) !default;

// Grid widths
//
// Define the maximum width of content .row for different screen sizes..
// Must contain the first/minimum key of $grid__breakpoint--content and may contain additional keys of $grid__breakpoint--content 

$grid__max-width: (
  xs: 100%,
  sm: 720px,
  md: 960px,
  lg: 1200px
) !default;

// Horizontal grid paddings
//
// Minimum outermost padding to the side edge of the screen for fixed with content
// Must contain the first/minimum key of $grid__breakpoint--content and may contain additional keys of $grid__breakpoint--content 

$grid__container-padding: (
  xs: 10px,
  sm: 0
) !default;

// Grid column widths
//
// Available grid column widths in percentages as fractions as names

$grid__column-width: (
  '1-1': 100%,
  '5-6': 83.3333%,
  '4-5': 80%,
  '3-4': 75%,
  '2-3': 66.6666%,
  '3-5': 60%,
  '1-2': 50%,
  '2-5': 40%,
  '1-3': 33.3333%,
  '1-4': 25%,
  '1-5': 20%,
  '1-6': 16.6666%
) !default;

// Vertical grid margins
//
// Available vertical margins after cells

$grid__v-margin: (
  xxl: 6rem,
  xl: 5rem,
  lg: 4rem,
  md: 3rem,
  sm: 2rem,
  xs: 1rem,
  thin: 2px,
  none: 0
) !default;

// Horizintal grid gutter
//
// Set horizontal padding on each side of a cell (single padding on outer row boundaries, double paddings between two inner adjectent cells)
// Must contain the first/minimum key of $grid__breakpoint--content and may contain additional keys of $grid__breakpoint--content 

$grid__cell-padding--auto: (
  xs: 5px,
  sm: 10px,
  lg: 15px
) !default;

$grid__cell-padding--thin: 1px !default;

// Typography
//
//

$line-height: 1.5 !default;
$line-height--menu: 35px !default;

// $spacer is the default margin after paragraphs, headings, etc.
$paragraph__spacer: 0.75rem !default;

// Font settings
//
// Font, line-height, and color for body text, headings, and more.
// - Try sticking to "rem"-based font sizes, based upon $font-size--root
// - Use $font-family--base for running text and $font-family--decorative for headings.
// - Use $font-weight--base for running text, and $font-weight--bold for <b> and <strong> tags

$font-family--system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family--monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family--base: $font-family--system !default;
$font-family--decorative: $font-family--system !default;

$font-weight--base: normal !default;
$font-weight--bold: bold !default;

$font-size--body: 16px !default;

// Used to override the browser's default 16px font size based on device width for 
// a better readable line length and a more consistent visual design across devices.
// Must contain the first/minimum key of $grid__breakpoint--content and may contain additional keys of $grid__breakpoint--content 

$font-size--root: (
  xs: 17px,
  md: 18px,
  lg: 19px
) !default;

$font-size--base: 1rem !default;
$font-size--large: 1.25rem !default;
$font-size--small: 0.875rem !default;


// Icons / Font awesome pro
//
$fa-font-path: '/themes/custom/wtfrontend_base/webfonts' !default;
$icon__close--content: '\000d' !default;
$icon__close--class: 'far fa-times' !default;
$icon__left--content: '\f104' !default;
$icon__left--class: 'far fa-angle-left' !default;
$icon__right--content: '\f105' !default;
$icon__right--class: 'far fa-angle-right' !default;
$icon__up--content: '\f106' !default;
$icon__up--class: 'far fa-angle-up' !default;
$icon__down--content: '\f107' !default;
$icon__down--class: 'far fa-angle-down' !default;
$icon__expand--content: '\f067' !default;
$icon__expand--class: 'far fa-plus' !default;
$icon__collapse--content: '\f068' !default;
$icon__collapse--class: 'far fa-minus' !default;
$icon__font-family: 'Font Awesome 5 Pro' !default;
$icon__font-weight: 400 !default;

$slick__arrow-size: 2rem !default;
$slick__arrow-opacity--default: 0.75 !default;
$slick__arrow-opacity--hover: 1 !default;
$slick__arrow-opacity--disabled: 0 !default;
$slick__dot--size: 8px !default;
$slick__dot--border-radius: 50% !default;

// Default text shadow
//
// typically used when text over background image (like banner, link--image)

$text-shadow: -1px -1px 5px rgba(0,0,0,0.7), 2px 2px 5px rgba(0,0,0,0.9) !default;

// Headings default values
//
// Font, line-height, and color for body text, headings, and more.

$heading__styles--base: (
  color: $color--primary,
  font-family: $font-family--decorative,
  font-weight: $font-weight--bold,
  line-height: 1.2,
  margin: 0 0 0.5rem 0
) !default;

// Level specific default values for headings
//
// Must contain the first/minimum key of $grid__breakpoint--content and may contain additional keys of $grid__breakpoint--content 

$heading__styles--1: (
  xs: (
    font-size: 2rem,
    margin-bottom: 1.5rem
  ),
  md: (
    font-size: 2.5rem,
    margin-bottom: 2rem
  )
) !default;

$heading__styles--2: (
  xs: (
    font-size: 1.5rem
  ),
  md: (
    font-size: 2rem
  )
) !default;

$heading__styles--3: (
  xs: (
    font-size: 1.3333rem
  ),
  md: (
    font-size: 1.75rem
  )
) !default;

$heading__styles--4: (
  xs: (
    font-size: 1.25rem
  ),
  md: (
    font-size: 1.5rem
  )
) !default;

$heading__styles: (
  1: $heading__styles--1,
  2: $heading__styles--2,
  3: $heading__styles--3,
  4: $heading__styles--4,
) !default;

// Animation / transition settings
//
// recommended on all links 

$transition--duration: 200ms !default;
$transition--easing: ease-in-out !default;
$transition: all $transition--duration $transition--easing !default;

// Z-Index
//
// mostly for menus and modal 

$z-index--fixed: 400 !default; // e.g. fixed navigation
$z-index--toolbar: 1250 !default; // admin toolbar
$z-index--modal: 2000 !default; // modals and popups that should be on top

// Toolbars, Menus, Navigation
//
//  

$toolbar--height: 42px !default; // body needs this as offset (via padding) when admin logged in

// Forms, Links and buttons
//
//

$url__transition: color $transition--duration $transition--easing, background-color $transition--duration $transition--easing !default;
$url__font-weight: $font-weight--base !default;
$url__font-weight--more: $font-weight--bold !default;

// Default settings mostly used on inputs and buttons (and links with button-style)
$input__bgcolor: white !default;
$input__border-color: $color--text-light !default; // not button border color!
$input__border-radius: 0.25rem !default;
$input__border-width: 1px !default;
$input__border-width--bold: 4px !default; // usually for btn--default
$input__padding-x: 0.5rem !default;
$input__padding-y: 0.25rem !default;

// Additional styles for buttons and button links
$input__btn-styles: (
  font-weight: $font-weight--bold,
  text-decoration: none
) !default;
