{% extends '@wtfrontend_base/region/_region--row.html.twig' %}

{% set alignitems = 'align-center' %}
{% set justifycontent = 'justify-space-between' %}
{% set rowwidth = 'fullwidth' %}
{% set rowflex_classes = 'row__flex--leftfixed-rightfullwidth' %}