{% extends '@wtfrontend_base/region/_region--row.html.twig' %}

{% set justifycontent = 'justify-center' %}
{% set alignitems = 'align-center' %}
{% set row_margin = 'margin-sm' %}
{% set rowwidth = 'fullbg' %}
{% set colorschema = 'color-bglight' %}