$font-family: "Source Sans pro", sans-serif !default;
$font-size: 15px !default;
$line-height: 1.5 !default;

$fa-font-path: '/themes/custom/wtfrontend_base/webfonts' !default;

$text-color: #333 !default;
$text-color--medium: #888 !default;

$primary-color: #ba182a !default;
$primary-color--accent: #8c1220 !default;
$primary-color--accent2: #e84f61 !default;

$bgcolor--light: #ebebeb !default;
$bgcolor--lighter: #f5f5f2 !default;

$border-radius: 6px !default;

$whitespace: 2rem !default;

$toolbar--vertical-width: 255px !default;