@import "_fonts";
@import "_settings";
@import "components/fontawesome-pro/fontawesome.scss";
@import "components/fontawesome-pro/fa-brands.scss";
@import "components/fontawesome-pro/fa-regular.scss";

.views-ui-dialog[role="dialog"] {
  z-index: 1500 !important;
}

.wt {
  .node-preview-container {
    display: none !important;
  }
}

#toolbar-administration .toolbar-bar {
  font-family: $font-family;
  font-size:  $font-size;
  
  .toolbar-tray-vertical {
    width: $toolbar--vertical-width;
  }
  
  /*
   * move user tab to right,
   * add contextual info (preview, enviroment) on the right side
   */
  .toolbar-tab.toolbar-tab--user {
    float: right;
    position: relative;
    
    .env--dev &::before {
      color: red;
      content: 'Entwicklungs-Server';
      font-weight: bold;
      position: absolute;
      left: -1.5rem;
      top: 50%;
      transform: translate(-100%, -50%);
      white-space: nowrap;
    }
    
    .node-preview-container ~ &::before {
      color: yellow;
      content: 'NUR VORSCHAU, nicht gespeichert';
      font-weight: bold;
      position: absolute;
      left: -1.5rem;
      top: 50%;
      transform: translate(-100%, -50%);
      white-space: nowrap;
    }
  }

  /*
   * make toolbar tray black
   */
  .toolbar-tray, .toolbar-menu, .toolbar-toggle-orientation {
    background-color: #333;
    
    a {
      color: white;
      font-weight: 600;
      
      &:hover, &:focus {
        background-color: transparent;
      }
    }
    
    .toolbar-icon.toolbar-handle {
      background-color: transparent;
      
      &:hover, &:focus {
        background-color: rgba(255,255,255,0.1);
      }
    }
  }

  .toolbar-tray-vertical .menu-item {
    border-bottom: 1px solid #666;
    border-top: 0px none;
    
    a {
      line-height: 4em;
      padding-bottom: 0;
      padding-top: 0;
      text-decoration: none;
      
      &:hover, &:focus {
        background-color: $primary-color;
      }
    }
  }
  
  #toolbar-item-administration-tray.toolbar-tray-vertical .menu-item {
    a {
      line-height: 1;
      padding-bottom: 1em;
      padding-top: 1em;
    }
  }
  
  
  /*
   * toolbar icons
   */
  .toolbar-icon-link-toolbar-menu:before, .toolbar-icon-tablink:before {
    @include fa-icon;
    @extend .far;
    height: auto;
    font-size: 1.25em;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: 0;
  }

  .toolbar-icon-link-toolbar-menu-wt-dashboard-link:before {
    content: fa-content($fa-var-tachometer-alt);
  }

  .toolbar-icon-link-toolbar-menu-wt-page-admin-link:before {
    content: fa-content($fa-var-file);
  }

  .toolbar-icon-link-toolbar-menu-wt-room-admin-link:before {
    content: fa-content($fa-var-bed);
  }

  .toolbar-icon-link-toolbar-menu-wt-package-admin-link:before {
    content: fa-content($fa-var-suitcase);
  }

  .toolbar-icon-link-toolbar-menu-wt-reference-admin-link:before {
    content: fa-content($fa-var-trophy);
  }

  .toolbar-icon-link-toolbar-menu-wt-event-admin-link:before {
    content: fa-content($fa-var-calendar);
  }

  .toolbar-icon-link-toolbar-menu-wt-poi-admin-link:before {
    content: fa-content($fa-var-map-marker);
  }

  .toolbar-icon-link-toolbar-menu-wt-blog-admin-link:before {
    content: fa-content($fa-var-rss);
  }

  .toolbar-icon-link-toolbar-menu-wt-media-media-library:before {
    content: fa-content($fa-var-images);
  }

  .toolbar-icon-link-toolbar-menu-wt-base-manage-menus:before {
    content: fa-content($fa-var-bars);
  }

  .toolbar-icon-link-toolbar-menu-wt-base-manage-blocks:before {
    content: fa-content($fa-var-square);
  }

  .toolbar-icon-link-toolbar-menu-wt-base-manage-blocks:before {
    content: fa-content($fa-var-square);
  }

  .toolbar-icon-link-toolbar-menu-wt-base-manage-categories:before {
    content: fa-content($fa-var-tag);
  }

  .toolbar-icon-link-toolbar-menu-wt-base-logout-link:before {
    content: fa-content($fa-var-sign-out);
  }

  .toolbar-icon-link-toolbar-menu-wt-base-webform-submissions-contact:before,
  .toolbar-icon-link-toolbar-menu-wt-enquiry-webform-submissions-contact:before {
    content: fa-content($fa-var-envelope);
  }

  .toolbar-icon-link-toolbar-menu-wt-giftcard-webform-submissions-giftcard:before {
    content: fa-content($fa-var-gift);
  }

  .toolbar-icon-link-toolbar-menu-wt-base-webform-submissions-callback:before {
    content: fa-content($fa-var-phone-volume);
  }

  .toolbar-icon-link-toolbar-menu-wt-newsletter-link:before {
    content: fa-content($fa-var-at);
  }

  .toolbar-icon-link-toolbar-menu-wt-concierge-link:before {
    content: fa-content($fa-var-info-square);
  }

  .toolbar-icon-link-toolbar-menu-wt-lunch-link:before {
    content: fa-content($fa-var-utensils);
  }

  .toolbar-icon-tablink-edit:before {
    content: fa-content($fa-var-edit);
  }

  .toolbar-icon-tablink-list:before {
    content: fa-content($fa-var-list);
  }

  .toolbar-icon-link-toolbar-menu-wt-translation-translation-view:before,
  .toolbar-icon-tablink-translate:before {
    content: fa-content($fa-var-language);
  }

  .toolbar-icon-tablink-back:before {
    content: fa-content($fa-var-arrow-alt-left);
  }
}
