@import "_fonts";
@import "_settings";
@import "../../wtfrontend_base/scss/components/fontawesome-pro/fontawesome.scss";
@import "../../wtfrontend_base/scss/components/fontawesome-pro/fa-brands.scss";
@import "../../wtfrontend_base/scss/components/fontawesome-pro/fa-regular.scss";

html, body {
  background-color: white;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

.cke_combopanel {
  width: 300px !important;
}

.wtadmin {
  background-color: white;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  
  
  &.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
    margin-left: 0;
    
    @media screen and (min-width: 1200px) {
      margin-left: $toolbar--vertical-width;
    }
  }
  
  b, strong {
    font-weight: 600;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .ckeditor-button > a {
    box-sizing: content-box;
    line-height: 18px;
  }
  
  a, .link {
    color: $primary-color;
    
    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  .tabs {
    a, .link {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  .button {
    border-radius: $border-radius;
    font-size: 1rem;
    
    &:hover, &:focus {
      border-color: $primary-color;
    }
  }
  
  .button--danger {
    color: #f03800;
    font-weight: 600; 
    text-decoration: none;
  }
  
  .dropbutton-widget {
    border-radius: $border-radius !important;
    
    .dropbutton-action {
      a, button, input {
        border-radius: $border-radius 0 0 $border-radius !important;
      }
    }
    .dropbutton-toggle {
      a, button, input {
        border-radius: 0 $border-radius $border-radius 0 !important;
      } 
    }
  }

  .button--primary {
    background-color: $primary-color;
    background-image: linear-gradient(to bottom, mix(white, $primary-color, 10%), mix(black, $primary-color, 10%));
    border-color: $primary-color;
    color: white;
    font-weight: 600;
    
    &:hover, &:focus {
      background-color: $primary-color--accent;
      border-color: $primary-color--accent;
      background-image: linear-gradient(to bottom, mix(white, $primary-color--accent, 10%), mix(black, $primary-color--accent, 10%));
    }
  }

  .button-action {
    padding: 4px 1.5rem;
    
    // action buttons should never be small
    &.button--small {
      font-size: 1rem;
      padding: 4px 1.5rem;
    }
    
    &:before {
      content: none;
    }
  }

  input[type=checkbox], input[type=radio], input[type=checkbox]#edit-delete {
    -webkit-appearance: none;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 0.25em;
    padding: 0;
    background: #fff;
    border: 1px solid #a6a6a6;
    width: 16px !important;
    height: 16px !important;
    transition: background 0.5s ease;
    outline: none;
    
    &:hover, &:focus {
      border-color: $primary-color;
    }
    
    &:checked {
      background: $primary-color;
      box-shadow: inset 0px 0px 0px 3px white;
    }
  }
  
  select {
    font-size: 1rem;
    padding: 0.3em 1.5em 0.3em 0.4em;
    line-height: normal;
  }
  
  /**
   *   
   *   tables
   * 
   */

  th {
    border: none;
    border-bottom: 1px solid $bgcolor--light;
    background-color: $bgcolor--lighter;
    color: $text-color--medium;
    text-transform: none;
    
    &.is-active {
      background-color: white;
      border: 1px solid $bgcolor--light;
      border-bottom-color: #fff;
    }
    
    > a {            
      color: $primary-color !important;
      
      &:hover, &:focus {
        color: $primary-color !important;
      }

      &:after {
        content: none;
      }
      
      &[href*="sort="] {
        white-space: nowrap;
      }
      
      .tablesort {
        float: none;
        background-image: none !important;
        margin-top: auto;
        width: auto;
        height: auto;
        
        &::after {
          @include fa-icon;
          @extend .far;
          padding-left: 0.25em;
        }
        
        &--asc::after {
          content: fa-content($fa-var-sort-down);
          vertical-align: top;
        }
        
        &--desc::after {
          content: fa-content($fa-var-sort-up);
          vertical-align: bottom;
        }
      }
    }
  }

  .tabledrag-handle .handle {
    box-sizing: content-box;
  }


  /**
   *   
   *   page title
   * 
   */
  
  .content-header {
    background-color: transparent;
    margin: $whitespace 0;
    padding: 0;
  }

  .page-title {
    font-size: 2rem;
    line-height: 1.2;
  }
  


  /**
   *   
   *   local tasks
   * 
   */
  
  .region-pre-content {
    margin-bottom: $whitespace;

    .is-collapse-enabled 
      .tabs {
        overflow: hidden;
        padding-top: 41px;
        
        &__trigger {
          font-size: 1rem;
          color: $primary-color;
          
          &:hover, &:focus {
            color: $primary-color--accent;
          }
      }
    }
    
    .is-horizontal {
      .tabs {
        &.primary {
          margin: 0;
          
          &:before {
            background-color: $bgcolor--light; 
          }
        
          .tabs__tab {
            background-color: $bgcolor--light;
            color: $primary-color;
            font-size: 1rem;
            
            &.is-active {
              margin: 0;
              background-color: $primary-color;
            }
          }
        }
    
        &.secondary {
          margin: 0;
      
          &:before {
            content: none;
          }
        
          .tabs__tab {
            background-color: $bgcolor--lighter;
            margin-left: 0;
            margin-right: 0;
            
            &.is-active {
              background-color: $primary-color--accent2;
            }
          }
        }
    
        &__tab {
          border-radius: 0 !important;
          border: 0 !important;
          
          > a:hover, a:focus {
            color: $primary-color;
          }
          
          &.is-active > a {
            color: white;
            
            &:hover, &:focus {
              color: white;
            }
          }
        }
      }
    }
  }
  


  /**
   *   
   *   action links
   * 
   */
  
  .action-links {
    margin-bottom: $whitespace;
  }



  /**
   *   
   *   views filter
   * 
   */
  
  .views-exposed-form {
    background-color: $bgcolor--lighter;
    margin-bottom: $whitespace;
    padding: $whitespace/2 $whitespace;
    
    > .exposed-form-details {
      border: 0;
      margin: 0;
      
      > .exposed-form-summary {
        padding: 0;
      }
      
      > .exposed-form-inputs {
        display: flex;
        flex-flow: row wrap;
        float: none;
        justify-content: flex-start;
        align-items: flex-end;
      }

      #edit-actions {
        position: relative;
        top: 3px;
      }
    }
  }



  /**
   *   
   * node editing sidebar
   * 
   */

  .seven-details__summary {
    //might be used elsewhere too
    color: $text-color;

    &:hover, &:focus {
      color: $primary-color;
    }
  }

  @media screen and (min-width: 780px), (min-device-height: 780px) and (orientation: landscape) {
    .layout-region-node-main, .layout-region-node-footer {
      width: 100%;
    }
    .layout-region-node-secondary {
      width: 100%;
    }
  }

  @media screen and (min-width: 1200px), (min-device-height: 780px) and (orientation: landscape) {
    .layout-region-node-main, .layout-region-node-footer {
      width: calc(100% - 380px);
    }
    .layout-region-node-secondary {
      width: 380px;
    }
  }



  /**
   *   
   *   page builder
   * 
   */

  .vertical-tabs-panes, .horizontal-tabs-panes, .vertical-tabs__pane, .vertical-tabs__panes {
    > .seven-details {
      margin: 0;
      padding: 0;
      border: 0;
      border-radius: 0;
      border-top: 1px solid transparent; //to prevent top-margins from children
      background-color: transparent;
    }
  }

  [id*="edit-field-pagebuilder"] {
    .vertical-tabs__menu {
      width: 130px;
    }
    
    .vertical-tabs__panes {
      margin-left: 130px;
      padding: 0;
    }
  }
  
  .vertical-tabs__menu-item.is-selected a {
    color: $primary-color;
  }
  
  .wtadmin__tab--nopadding {
    padding: 0;
    margin-top: 0;
  }
  
  .field--widget-paragraphs {
    // hide first collapse button of paragraphs
    .paragraphs-actions {
      > input:first-child {
        display: none;
      }
    }
    // ...but show on nested paragraphs
    .field--widget-paragraphs .paragraphs-actions > input:first-child {
      display: inline-block;
    }
    
    // hide table headers of paragraphs
    .paragraphs-tabs-wrapper > .form-item > table > thead {
      display: none;
    }
    
    tr.draggable {
      border-bottom-color: $text-color--medium;
    }
    
    .form-item {
      margin: 0.75em 0;
    }
  }
  
  .wtadmin__row {
    display: flex;
    flex-flow: row wrap;
    
    .js-form-item {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      
      > div {
        width: 100%;
      }
      
      > label {
        width: 100%;
        flex: 0 0 auto;
      }

      > input, select, textarea {
        width: 50%;
        flex: 1 1 auto;
      }
      
      > .field-prefix, > .field-suffix {
        flex: 0 0 auto;
      }
      
      > .field-prefix {
        padding-right: 0.25em;
      }
      
      > .field-suffix {
        padding-left: 0.25em;
      }
    }
    
    .js-form-type-radio, .js-form-type-checkbox {
      align-items: flex-start;
      
      input {
        flex: 0 0 auto;
      }
      label {
        width: calc(100% - 16px - 0.25em);
        flex: 1 1 auto;
      }
    }
    
    > div {
      flex: 1 1 auto;
      min-width: 150px;
      padding-right: 10px;
      width: 100%;
      
      &:last-child {
        padding-right: 0;
        min-width: 140px;
      }
    }
    
    &--quarter > div {
      width: 25%;
    }
    
    &--third > div {
      width: 33.3333%;
    }
    
    &--half > div {
      width: 50%;
    }
    
    &--one-two {
      > div:nth-child(odd) {
        width: 33.3333%;
      }
      > div:nth-child(even) {
        width: 66.6666%;
      }
    }
    
    &--two-one {
      > div:nth-child(odd) {
        width: 66.6666%;
      }
      > div:nth-child(even) {
        width: 33.3333%;
      }
    }
  }
  
  /**
   *   
   * system modules (extend modules)
   * 
   */
  
  .system-modules details {
    white-space: normal;
  }
  
  /**
   *   
   * entity browser
   * 
   */

  .eb-tabs ul li.active {
    border-bottom-color: $primary-color;
  }

  /**
   *   
   * gallery paragraph preview
   * 
   */
  
  .paragraph--type--gallery.paragraph--view-mode--preview > .field--name-field-gallery.field__items {
    display: flex;
    flex-flow: row wrap;
    margin: 5px -5px 0 -5px;
    
    > .field__item {
      padding: 0 5px 5px 5px;
    }
  }
  
  .paragraph--type--video.paragraph--view-mode--preview > .field--name-field-video.field__item {
    max-width: 360px;
  } 
}
