{% extends '@wtfrontend_base/layout/page.html.twig' %}

{% block banner %}
  {{ parent() }}
  <div class="block block--headeraction-xs">
    {{ drupal_menu('headeraction') }}
  </div>
{% endblock %}

{% block footer %}
  {{ page.footer_upper }}

  {% use '@wtfrontend_base/_row.html.twig' with content as row_content %}
  {% set row_classes = 'row--footer_middle' %}
  {% set colorschema = 'color-bgdark' %}
  {% set rowwidth = 'fullbg' %}
  {% set justifycontent = 'justify-space-between' %}
  {{ block('opener') }} 
    {{ page.footer_left }}
    {{ page.footer_center }}
    {{ page.footer_right }}
  {{ block('closer') }} 

  {{ page.footer_lower }}
{% endblock %}
